--enable-debug
--enable-encoders=lzma1,armthumb
--enable-decoders=lzma1,x86
--enable-match-finders=hc4,hc3,bt3
--enable-checks=crc32,crc64,sha256
--enable-threads=yes
--enable-assume-ram=128
--enable-symbol-versions
--enable-sandbox=no
--enable-unaligned-access
--enable-unsafe-type-punning
--with-pic=PIC
--with-gnu-ld=yes
--disable-doc
--disable-libtool-lock
--disable-nls
--disable-rpath
