--enable-encoders=lzma1,powerpc
--enable-decoders=lzma1,sparc
--enable-match-finders=bt3
--enable-checks=crc32,crc64
--enable-small
--enable-threads=yes
--enable-sandbox=capsicum
--enable-dependency-tracking
--enable-unsafe-type-punning
--with-aix-soname=both
--with-gnu-ld
--with-gnu-ld=yes
--disable-assembler
--disable-lzmainfo
--disable-scripts
--disable-doc
--disable-nls
--disable-rpath
--disable-largefile
