--enable-debug
--enable-encoders=lzma1
--enable-decoders=lzma1,x86
--enable-match-finders=hc4,hc3,bt3,bt4
--enable-checks=crc32
--enable-threads=no
--enable-sandbox=capsicum
--enable-silent-rules
--enable-dependency-tracking
--with-aix-soname=aix
--without-libintl-prefix
--disable-assembler
--disable-lzmadec
--disable-lzmainfo
--disable-lzma-links
--disable-scripts
--disable-silent-rules
--disable-libtool-lock
