--enable-encoders=lzma1,x86
--enable-decoders=lzma1,x86
--enable-match-finders=hc4,bt2,bt3
--enable-checks=crc32,sha256
--enable-threads=yes
--enable-symbol-versions
--enable-sandbox=no
--enable-silent-rules
--enable-fast-install
--enable-unsafe-type-punning
--enable-fast-install=no
--with-aix-soname=aix
--without-libiconv-prefix
--without-libintl-prefix
--disable-option-checking
--disable-lzmadec
--disable-scripts
--disable-doc
--disable-dependency-tracking
--disable-nls
--disable-rpath
--disable-largefile
