--enable-debug
--enable-encoders=lzma1,lzma2
--enable-decoders=lzma1,ia64
--enable-match-finders=hc4,hc3,bt2,bt3
--enable-checks=crc32
--enable-threads=posix
--enable-assume-ram=128
--enable-symbol-versions
--enable-silent-rules
--enable-dependency-tracking
--enable-fast-install
--with-pic=non-PIC
--with-gnu-ld
--with-gnu-ld=yes
--without-libiconv-prefix
--without-libintl-prefix
--disable-assembler
--disable-lzmadec
--disable-lzmainfo
--disable-dependency-tracking
