--enable-debug
--enable-encoders=lzma1,lzma2
--enable-decoders=lzma1,powerpc
--enable-match-finders=hc3,bt4
--enable-checks=crc32,sha256
--enable-small
--enable-threads=yes
--enable-assume-ram=128
--enable-symbol-versions
--enable-sandbox=auto
--enable-dependency-tracking
--enable-fast-install=no
--with-aix-soname=both
--with-gnu-ld=yes
--without-libiconv-prefix
--disable-assembler
--disable-lzmainfo
--disable-dependency-tracking
--disable-libtool-lock
--disable-rpath
--disable-largefile
