--enable-encoders=lzma1,armthumb
--enable-decoders=lzma1,x86
--enable-match-finders=hc4,hc3,bt2,bt3,bt4
--enable-checks=crc32,crc64
--enable-threads=posix
--enable-assume-ram=128
--enable-symbol-versions
--enable-sandbox=no
--enable-silent-rules
--enable-fast-install
--with-pic=non-PIC
--with-aix-soname=both
--with-gnu-ld=yes
--without-libintl-prefix
--disable-assembler
--disable-xzdec
--disable-lzma-links
--disable-scripts
--disable-doc
--disable-silent-rules
--disable-dependency-tracking
--disable-libtool-lock
--disable-rpath
