--enable-encoders=lzma1,lzma2,x86,armthumb,sparc,arm,ia64,powerpc,delta
--enable-decoders=lzma1,delta
--enable-match-finders=hc4,hc3,bt4
--enable-checks=crc32,sha256
--enable-small
--enable-threads=posix
--enable-assume-ram=128
--enable-sandbox=capsicum
--enable-silent-rules
--enable-dependency-tracking
--enable-fast-install
--enable-fast-install=no
--with-aix-soname=svr4
--with-gnu-ld
--without-libiconv-prefix
--without-libintl-prefix
--disable-option-checking
--disable-assembler
--disable-lzmadec
--disable-scripts
--disable-nls
--disable-largefile
