--enable-encoders=lzma1
--enable-decoders=lzma1,powerpc
--enable-match-finders=hc3,hc4
--enable-checks=crc32,sha256
--enable-small
--enable-threads=posix
--enable-assume-ram=128
--enable-symbol-versions
--enable-sandbox=no
--enable-dependency-tracking
--enable-unaligned-access
--enable-unsafe-type-punning
--enable-fast-install=no
--with-aix-soname=both
--with-gnu-ld
--with-gnu-ld=yes
--without-libiconv-prefix
--disable-option-checking
--disable-xzdec
--disable-lzmainfo
--disable-silent-rules
--disable-nls
--disable-largefile
