--enable-encoders=lzma1
--enable-decoders=lzma1,powerpc
--enable-match-finders=hc4
--enable-checks=crc32,sha256
--enable-small
--enable-threads=posix
--enable-assume-ram=128
--enable-sandbox=no
--enable-unaligned-access
--enable-fast-install=no
--with-gnu-ld=yes
--without-libiconv-prefix
--disable-option-checking
--disable-assembler
--disable-xzdec
--disable-lzma-links
--disable-scripts
--disable-silent-rules
--disable-dependency-tracking
--disable-libtool-lock
--disable-rpath
