--enable-encoders=lzma1,arm
--enable-decoders=lzma1,ia64
--enable-match-finders=bt4
--enable-checks=crc32
--enable-small
--enable-threads=posix
--enable-sandbox=no
--enable-silent-rules
--enable-unaligned-access
--enable-fast-install=no
--with-pic=non-PIC
--with-aix-soname=aix
--with-gnu-ld=yes
--disable-option-checking
--disable-lzmadec
--disable-lzmainfo
--disable-scripts
--disable-doc
--disable-silent-rules
--disable-dependency-tracking
--disable-libtool-lock
--disable-rpath
