--enable-debug
--enable-encoders=lzma1,arm
--enable-decoders=lzma1,powerpc
--enable-match-finders=hc4,bt2,bt4
--enable-checks=crc32,crc64,sha256
--enable-threads=posix
--enable-assume-ram=128
--enable-sandbox=capsicum
--enable-silent-rules
--enable-fast-install
--enable-fast-install=no
--with-aix-soname=svr4
--without-libiconv-prefix
--without-libintl-prefix
--disable-option-checking
--disable-assembler
--disable-scripts
--disable-doc
--disable-silent-rules
--disable-rpath
--disable-largefile
