--enable-debug
--enable-encoders=lzma1,armthumb
--enable-decoders=lzma1,powerpc
--enable-match-finders=hc3,hc4
--enable-checks=crc32,sha256
--enable-threads=yes
--enable-assume-ram=128
--enable-symbol-versions
--enable-sandbox=capsicum
--enable-silent-rules
--enable-dependency-tracking
--enable-unaligned-access
--with-pic=PIC
--with-aix-soname=both
--with-gnu-ld=yes
--disable-assembler
--disable-lzmadec
--disable-doc
--disable-libtool-lock
--disable-rpath
--disable-largefile
