--enable-encoders=lzma1
--enable-decoders=lzma1,ia64
--enable-match-finders=hc4,bt4
--enable-checks=crc32,sha256
--enable-threads=yes
--enable-symbol-versions
--enable-sandbox=capsicum
--enable-silent-rules
--enable-unsafe-type-punning
--with-pic=PIC
--with-aix-soname=aix
--with-gnu-ld=yes
--without-libintl-prefix
--disable-option-checking
--disable-assembler
--disable-lzmainfo
--disable-lzma-links
--disable-scripts
--disable-doc
--disable-dependency-tracking
--disable-libtool-lock
--disable-nls
--disable-rpath
--disable-largefile
