--enable-encoders=lzma1,armthumb
--enable-decoders=lzma1,powerpc
--enable-match-finders=bt2,bt4
--enable-checks=crc32
--enable-sandbox=no
--enable-silent-rules
--enable-fast-install
--enable-unsafe-type-punning
--with-pic=PIC
--with-aix-soname=svr4
--with-gnu-ld
--with-gnu-ld=yes
--without-libiconv-prefix
--without-libintl-prefix
--disable-xzdec
--disable-lzmainfo
--disable-doc
--disable-libtool-lock
--disable-nls
--disable-rpath
