--enable-debug
--enable-encoders=lzma1,powerpc
--enable-decoders=lzma1,armthumb
--enable-match-finders=hc4,bt2
--enable-checks=crc32,crc64,sha256
--enable-threads=yes
--enable-assume-ram=128
--enable-sandbox=capsicum
--enable-silent-rules
--enable-dependency-tracking
--enable-unaligned-access
--enable-fast-install=no
--with-pic=PIC
--with-aix-soname=both
--with-gnu-ld
--without-libiconv-prefix
--without-libintl-prefix
--disable-assembler
--disable-lzmadec
--disable-lzma-links
--disable-nls
--disable-largefile
