--enable-debug
--enable-encoders=lzma1
--enable-decoders=lzma1,lzma2
--enable-match-finders=hc3,bt2,bt3,bt4
--enable-checks=crc32,crc64
--enable-threads=yes
--enable-sandbox=no
--enable-unaligned-access
--with-aix-soname=both
--with-gnu-ld
--with-gnu-ld=yes
--without-libintl-prefix
--disable-lzmainfo
--disable-lzma-links
--disable-doc
--disable-dependency-tracking
--disable-rpath
--disable-largefile
