--enable-debug
--enable-encoders=lzma1,arm
--enable-decoders=lzma1,delta
--enable-match-finders=hc3,bt2,bt3
--enable-checks=crc32
--enable-small
--enable-threads=posix
--enable-symbol-versions
--enable-sandbox=auto
--enable-silent-rules
--enable-unaligned-access
--with-pic=non-PIC
--with-aix-soname=aix
--without-libiconv-prefix
--without-libintl-prefix
--disable-lzmadec
--disable-libtool-lock
--disable-largefile
