--enable-encoders=lzma1,lzma2,x86,armthumb,sparc,arm,ia64,powerpc,delta
--enable-decoders=lzma1,lzma2,delta,x86,sparc,ia64,armthumb,arm,powerpc
--enable-match-finders=hc4,bt2
--enable-checks=crc32
--enable-small
--enable-symbol-versions
--enable-sandbox=capsicum
--enable-dependency-tracking
--enable-unsafe-type-punning
--with-pic=non-PIC
--with-aix-soname=both
--with-gnu-ld=yes
--without-libiconv-prefix
--without-libintl-prefix
--disable-option-checking
--disable-assembler
--disable-lzmadec
--disable-lzmainfo
--disable-lzma-links
--disable-scripts
--disable-doc
--disable-dependency-tracking
--disable-libtool-lock
--disable-rpath
--disable-largefile
