--enable-debug
--enable-encoders=lzma1,powerpc
--enable-decoders=lzma1,armthumb
--enable-match-finders=bt3
--enable-checks=crc32,sha256
--enable-small
--enable-assume-ram=128
--enable-sandbox=capsicum
--enable-silent-rules
--enable-dependency-tracking
--enable-unaligned-access
--enable-unsafe-type-punning
--with-aix-soname=svr4
--with-gnu-ld
--without-libiconv-prefix
--disable-xzdec
--disable-lzma-links
--disable-libtool-lock
