--enable-debug
--enable-encoders=lzma1,ia64
--enable-decoders=lzma1,sparc
--enable-match-finders=bt3,bt4
--enable-checks=crc32,sha256
--enable-small
--enable-symbol-versions
--enable-sandbox=capsicum
--enable-unsafe-type-punning
--with-pic=PIC
--with-aix-soname=svr4
--with-gnu-ld
--with-gnu-ld=yes
--without-libiconv-prefix
--without-libintl-prefix
--disable-option-checking
--disable-assembler
--disable-lzmainfo
--disable-lzma-links
--disable-scripts
--disable-doc
--disable-libtool-lock
--disable-largefile
