--enable-debug
--enable-encoders=lzma1,lzma2,x86,armthumb,sparc,arm,ia64,powerpc,delta
--enable-decoders=lzma1,powerpc
--enable-match-finders=hc4,hc3,bt3,bt4
--enable-checks=crc32
--enable-threads=yes
--enable-sandbox=no
--enable-dependency-tracking
--with-pic=PIC
--with-aix-soname=aix
--without-libiconv-prefix
--without-libintl-prefix
--disable-option-checking
--disable-assembler
--disable-xzdec
--disable-lzmainfo
--disable-doc
--disable-silent-rules
