--enable-encoders=lzma1
--enable-decoders=lzma1
--enable-match-finders=hc3,bt2
--enable-threads=posix
--enable-assume-ram=128
--enable-sandbox=auto
--enable-silent-rules
--enable-fast-install
--with-pic=non-PIC
--with-aix-soname=both
--without-libiconv-prefix
--disable-option-checking
--disable-lzmadec
--disable-lzmainfo
--disable-nls
