--enable-encoders=lzma1,lzma2,x86,armthumb,sparc,arm,ia64,powerpc,delta
--enable-decoders=lzma1,sparc
--enable-match-finders=hc4,hc3,bt2,bt3
--enable-checks=crc32,sha256
--enable-threads=yes
--enable-assume-ram=128
--enable-sandbox=no
--enable-silent-rules
--enable-dependency-tracking
--enable-fast-install
--enable-unsafe-type-punning
--enable-fast-install=no
--with-pic=non-PIC
--with-aix-soname=both
--disable-option-checking
--disable-assembler
--disable-xzdec
--disable-lzmainfo
--disable-lzma-links
--disable-silent-rules
--disable-rpath
