--enable-encoders=lzma1,delta
--enable-decoders=lzma1,ia64
--enable-match-finders=hc4,bt2,bt3
--enable-checks=crc32
--enable-small
--enable-threads=posix
--enable-symbol-versions
--enable-sandbox=no
--enable-unsafe-type-punning
--with-pic=non-PIC
--with-aix-soname=aix
--with-gnu-ld
--with-gnu-ld=yes
--without-libiconv-prefix
--disable-option-checking
--disable-assembler
--disable-xzdec
--disable-lzmadec
--disable-lzmainfo
--disable-lzma-links
--disable-doc
--disable-libtool-lock
