--enable-encoders=lzma1,sparc
--enable-decoders=lzma1,ia64
--enable-match-finders=hc4,hc3,bt3,bt4
--enable-checks=crc32
--enable-threads=posix
--enable-symbol-versions
--enable-sandbox=no
--enable-silent-rules
--enable-fast-install
--enable-unaligned-access
--with-aix-soname=svr4
--with-gnu-ld
--with-gnu-ld=yes
--without-libintl-prefix
--disable-option-checking
--disable-assembler
--disable-lzma-links
