--enable-encoders=lzma1,x86
--enable-decoders=lzma1,powerpc
--enable-match-finders=hc4,bt3
--enable-checks=crc32
--enable-small
--enable-threads=yes
--enable-symbol-versions
--enable-sandbox=capsicum
--enable-silent-rules
--enable-dependency-tracking
--enable-unaligned-access
--enable-fast-install=no
--with-pic=PIC
--with-aix-soname=aix
--with-gnu-ld
--with-gnu-ld=yes
--disable-xzdec
--disable-lzma-links
--disable-doc
--disable-silent-rules
