--enable-encoders=lzma1,lzma2,x86,armthumb,sparc,arm,ia64,powerpc,delta
--enable-decoders=lzma1,lzma2
--enable-match-finders=hc4,hc3,bt4
--enable-checks=crc32,crc64
--enable-small
--enable-threads=posix
--enable-assume-ram=128
--enable-sandbox=capsicum
--enable-silent-rules
--enable-fast-install
--enable-unaligned-access
--with-pic=PIC
--with-aix-soname=aix
--with-gnu-ld=yes
--without-libintl-prefix
--disable-option-checking
--disable-xzdec
--disable-lzmainfo
--disable-libtool-lock
