--enable-debug
--enable-encoders=lzma1,arm
--enable-decoders=lzma1,arm
--enable-match-finders=hc3
--enable-checks=crc32,crc64,sha256
--enable-threads=posix
--enable-sandbox=no
--enable-fast-install=no
--with-pic=PIC
--with-aix-soname=both
--with-gnu-ld=yes
--without-libiconv-prefix
--without-libintl-prefix
--disable-assembler
--disable-lzma-links
--disable-scripts
--disable-doc
--disable-silent-rules
--disable-dependency-tracking
--disable-libtool-lock
--disable-nls
