--enable-debug
--enable-encoders=lzma1,lzma2
--enable-decoders=lzma1,lzma2
--enable-match-finders=hc4,hc3,bt2
--enable-checks=crc32
--enable-small
--enable-threads=no
--enable-assume-ram=128
--enable-symbol-versions
--enable-sandbox=capsicum
--enable-silent-rules
--enable-dependency-tracking
--enable-unaligned-access
--enable-unsafe-type-punning
--with-pic=PIC
--with-aix-soname=aix
--with-gnu-ld
--with-gnu-ld=yes
--without-libiconv-prefix
--without-libintl-prefix
--disable-xzdec
--disable-lzmadec
--disable-lzmainfo
--disable-silent-rules
--disable-libtool-lock
