--enable-debug
--enable-encoders=lzma1,lzma2,x86,armthumb,sparc,arm,ia64,powerpc,delta
--enable-decoders=lzma1,powerpc
--enable-match-finders=hc4,bt3,bt4
--enable-checks=crc32,crc64
--enable-small
--enable-threads=yes
--enable-assume-ram=128
--enable-symbol-versions
--enable-sandbox=auto
--enable-fast-install
--enable-unaligned-access
--with-pic=non-PIC
--with-gnu-ld
--with-gnu-ld=yes
--without-libintl-prefix
--disable-xzdec
--disable-lzmadec
--disable-lzmainfo
--disable-doc
--disable-silent-rules
--disable-libtool-lock
--disable-largefile
