--enable-debug
--enable-encoders=lzma1,armthumb
--enable-decoders=lzma1
--enable-match-finders=hc4,bt2,bt4
--enable-checks=crc32,crc64
--enable-small
--enable-threads=yes
--enable-assume-ram=128
--enable-sandbox=no
--enable-dependency-tracking
--enable-fast-install
--with-pic=PIC
--without-libiconv-prefix
--disable-option-checking
--disable-doc
--disable-libtool-lock
--disable-nls
