--enable-encoders=lzma1,powerpc
--enable-decoders=lzma1,lzma2,delta,x86,sparc,ia64,armthumb,arm,powerpc
--enable-match-finders=hc3
--enable-checks=crc32,crc64
--enable-small
--enable-sandbox=no
--enable-fast-install
--enable-fast-install=no
--with-aix-soname=aix
--with-gnu-ld=yes
--disable-option-checking
--disable-assembler
--disable-xzdec
--disable-lzmadec
--disable-lzmainfo
--disable-lzma-links
--disable-scripts
--disable-libtool-lock
--disable-largefile
