--enable-encoders=lzma1,ia64
--enable-decoders=lzma1,lzma2,delta,x86,sparc,ia64,armthumb,arm,powerpc
--enable-match-finders=bt2,bt4
--enable-checks=crc32,sha256
--enable-assume-ram=128
--enable-sandbox=no
--enable-silent-rules
--enable-dependency-tracking
--enable-unaligned-access
--with-pic=non-PIC
--with-aix-soname=svr4
--with-gnu-ld
--without-libintl-prefix
--disable-option-checking
--disable-xzdec
--disable-lzmainfo
--disable-lzma-links
--disable-doc
--disable-rpath
--disable-largefile
