--enable-encoders=lzma1
--enable-decoders=lzma1,powerpc
--enable-match-finders=bt2,bt3,bt4
--enable-checks=crc32
--enable-small
--enable-threads=no
--enable-symbol-versions
--enable-sandbox=no
--enable-dependency-tracking
--enable-fast-install
--with-pic=non-PIC
--with-aix-soname=aix
--disable-option-checking
--disable-xzdec
--disable-lzmainfo
--disable-libtool-lock
--disable-rpath
--disable-largefile
