--enable-debug
--enable-encoders=lzma1
--enable-decoders=lzma1,ia64
--enable-match-finders=hc4,bt2
--enable-checks=crc32,crc64
--enable-symbol-versions
--enable-sandbox=capsicum
--enable-dependency-tracking
--enable-fast-install
--enable-unaligned-access
--with-pic=non-PIC
--with-aix-soname=aix
--with-gnu-ld=yes
--without-libiconv-prefix
--without-libintl-prefix
--disable-option-checking
--disable-assembler
--disable-xzdec
--disable-lzmadec
--disable-lzmainfo
--disable-lzma-links
--disable-scripts
--disable-doc
--disable-libtool-lock
--disable-rpath
