--enable-debug
--enable-encoders=lzma1,powerpc
--enable-decoders=lzma1,ia64
--enable-match-finders=bt2,bt3,bt4
--enable-checks=crc32
--enable-threads=no
--enable-symbol-versions
--enable-sandbox=auto
--enable-unsafe-type-punning
--with-aix-soname=svr4
--with-gnu-ld=yes
--without-libiconv-prefix
--disable-scripts
--disable-doc
--disable-dependency-tracking
