--enable-debug
--enable-encoders=lzma1
--enable-decoders=lzma1,sparc
--enable-match-finders=hc3,bt2
--enable-checks=crc32,crc64
--enable-threads=posix
--enable-symbol-versions
--enable-sandbox=auto
--enable-dependency-tracking
--enable-fast-install
--enable-unsafe-type-punning
--with-pic=non-PIC
--with-aix-soname=svr4
--with-gnu-ld
--with-gnu-ld=yes
--without-libiconv-prefix
--without-libintl-prefix
--disable-xzdec
--disable-lzmadec
--disable-silent-rules
--disable-dependency-tracking
--disable-rpath
