--enable-debug
--enable-encoders=lzma1,powerpc
--enable-decoders=lzma1,ia64
--enable-match-finders=hc3,bt3,bt4
--enable-checks=crc32,crc64
--enable-symbol-versions
--enable-dependency-tracking
--enable-fast-install
--enable-unaligned-access
--enable-unsafe-type-punning
--enable-fast-install=no
--with-pic=non-PIC
--with-aix-soname=svr4
--with-gnu-ld
--without-libiconv-prefix
--without-libintl-prefix
--disable-assembler
--disable-xzdec
--disable-lzma-links
--disable-dependency-tracking
--disable-largefile
