--enable-encoders=lzma1,lzma2
--enable-decoders=lzma1,delta
--enable-match-finders=hc3,bt2,bt3,bt4
--enable-checks=crc32,sha256
--enable-small
--enable-threads=posix
--enable-sandbox=no
--enable-dependency-tracking
--enable-unaligned-access
--enable-fast-install=no
--with-pic=non-PIC
--with-aix-soname=aix
--with-gnu-ld
--without-libintl-prefix
--disable-option-checking
--disable-lzmadec
--disable-lzma-links
--disable-scripts
--disable-doc
--disable-rpath
--disable-largefile
