--enable-debug
--enable-encoders=lzma1,ia64
--enable-decoders=lzma1,arm
--enable-match-finders=hc4,hc3,bt2,bt4
--enable-checks=crc32
--enable-threads=yes
--enable-symbol-versions
--enable-sandbox=no
--enable-silent-rules
--enable-unsafe-type-punning
--enable-fast-install=no
--with-aix-soname=aix
--with-gnu-ld
--with-gnu-ld=yes
--disable-option-checking
--disable-lzmadec
--disable-silent-rules
--disable-libtool-lock
--disable-nls
