--enable-debug
--enable-encoders=lzma1,lzma2,x86,armthumb,sparc,arm,ia64,powerpc,delta
--enable-decoders=lzma1,sparc
--enable-match-finders=bt2
--enable-checks=crc32,crc64
--enable-threads=yes
--enable-assume-ram=128
--enable-sandbox=auto
--enable-silent-rules
--enable-dependency-tracking
--enable-fast-install
--enable-unsafe-type-punning
--enable-fast-install=no
--with-aix-soname=svr4
--without-libiconv-prefix
--without-libintl-prefix
--disable-assembler
--disable-doc
--disable-libtool-lock
