--enable-debug
--enable-encoders=lzma1
--enable-decoders=lzma1,lzma2
--enable-match-finders=hc3
--enable-checks=crc32,crc64
--enable-small
--enable-threads=yes
--enable-sandbox=auto
--enable-dependency-tracking
--enable-unsafe-type-punning
--enable-fast-install=no
--with-pic=non-PIC
--with-gnu-ld
--with-gnu-ld=yes
--disable-xzdec
--disable-lzmadec
--disable-lzmainfo
--disable-dependency-tracking
--disable-rpath
--disable-largefile
