--enable-encoders=lzma1,arm
--enable-decoders=lzma1,sparc
--enable-match-finders=bt3
--enable-checks=crc32,crc64,sha256
--enable-threads=posix
--enable-sandbox=no
--enable-dependency-tracking
--enable-unsafe-type-punning
--with-pic=non-PIC
--with-aix-soname=svr4
--disable-option-checking
--disable-lzma-links
--disable-scripts
--disable-dependency-tracking
--disable-nls
--disable-rpath
