--enable-encoders=lzma1,delta
--enable-decoders=lzma1,arm
--enable-match-finders=hc3,bt4
--enable-checks=crc32
--enable-small
--enable-threads=yes
--enable-sandbox=capsicum
--enable-silent-rules
--enable-unsafe-type-punning
--enable-fast-install=no
--with-pic=non-PIC
--with-aix-soname=both
--with-gnu-ld
--without-libiconv-prefix
--disable-option-checking
--disable-lzmadec
--disable-scripts
--disable-doc
--disable-nls
--disable-rpath
--disable-largefile
