--enable-debug
--enable-encoders=lzma1,lzma2
--enable-decoders=lzma1,lzma2,delta,x86,sparc,ia64,armthumb,arm,powerpc
--enable-match-finders=hc4,hc3,bt4
--enable-checks=crc32,crc64
--enable-small
--enable-threads=yes
--enable-assume-ram=128
--enable-symbol-versions
--enable-silent-rules
--enable-dependency-tracking
--enable-unsafe-type-punning
--enable-fast-install=no
--with-pic=non-PIC
--with-gnu-ld
--without-libintl-prefix
--disable-option-checking
--disable-lzmadec
--disable-lzmainfo
--disable-lzma-links
--disable-doc
--disable-libtool-lock
--disable-nls
--disable-rpath
