--enable-debug
--enable-encoders=lzma1,lzma2
--enable-decoders=lzma1,x86
--enable-match-finders=hc4
--enable-checks=crc32,sha256
--enable-threads=posix
--enable-sandbox=capsicum
--enable-silent-rules
--enable-dependency-tracking
--enable-fast-install
--with-pic=non-PIC
--with-aix-soname=both
--with-gnu-ld=yes
--without-libintl-prefix
--disable-option-checking
--disable-lzmadec
--disable-silent-rules
--disable-libtool-lock
--disable-nls
--disable-largefile
