--enable-debug
--enable-encoders=lzma1,powerpc
--enable-decoders=lzma1,sparc
--enable-match-finders=hc4,hc3,bt4
--enable-checks=crc32,sha256
--enable-threads=yes
--enable-symbol-versions
--enable-sandbox=capsicum
--enable-silent-rules
--enable-fast-install
--enable-unsafe-type-punning
--enable-fast-install=no
--with-aix-soname=both
--without-libiconv-prefix
--disable-option-checking
--disable-assembler
--disable-xzdec
--disable-lzmadec
--disable-lzma-links
--disable-dependency-tracking
--disable-libtool-lock
--disable-rpath
