--enable-encoders=lzma1,x86
--enable-decoders=lzma1,sparc
--enable-match-finders=hc4,bt2,bt3
--enable-checks=crc32,crc64
--enable-small
--enable-threads=posix
--enable-sandbox=auto
--enable-silent-rules
--enable-unaligned-access
--enable-unsafe-type-punning
--with-aix-soname=aix
--with-gnu-ld=yes
--without-libintl-prefix
--disable-lzmainfo
--disable-scripts
--disable-silent-rules
--disable-libtool-lock
--disable-nls
--disable-largefile
