--enable-debug
--enable-encoders=lzma1,x86
--enable-decoders=lzma1,arm
--enable-match-finders=bt2,bt4
--enable-checks=crc32,crc64
--enable-threads=posix
--enable-unaligned-access
--enable-unsafe-type-punning
--enable-fast-install=no
--with-pic=non-PIC
--with-aix-soname=aix
--with-gnu-ld
--without-libiconv-prefix
--without-libintl-prefix
--disable-option-checking
--disable-assembler
--disable-lzmadec
--disable-silent-rules
--disable-nls
--disable-largefile
