--enable-encoders=lzma1,ia64
--enable-decoders=lzma1,armthumb
--enable-match-finders=hc4,bt2,bt4
--enable-checks=crc32
--enable-threads=yes
--enable-assume-ram=128
--enable-sandbox=auto
--enable-dependency-tracking
--enable-unsafe-type-punning
--with-aix-soname=aix
--with-gnu-ld=yes
--without-libintl-prefix
--disable-assembler
--disable-lzmainfo
--disable-lzma-links
--disable-dependency-tracking
--disable-nls
--disable-largefile
