--enable-debug
--enable-encoders=lzma1,powerpc
--enable-decoders=lzma1,sparc
--enable-match-finders=hc4,bt2,bt3,bt4
--enable-checks=crc32,crc64
--enable-threads=posix
--enable-assume-ram=128
--enable-sandbox=no
--enable-dependency-tracking
--enable-fast-install
--enable-unaligned-access
--enable-fast-install=no
--with-pic=PIC
--with-aix-soname=svr4
--without-libintl-prefix
--disable-silent-rules
--disable-dependency-tracking
--disable-libtool-lock
--disable-nls
--disable-largefile
