--enable-debug
--enable-encoders=lzma1,lzma2
--enable-decoders=lzma1,lzma2,delta,x86,sparc,ia64,armthumb,arm,powerpc
--enable-match-finders=bt2,bt3
--enable-checks=crc32,crc64
--enable-threads=yes
--enable-sandbox=capsicum
--enable-dependency-tracking
--enable-unsafe-type-punning
--enable-fast-install=no
--with-pic=PIC
--with-aix-soname=svr4
--with-gnu-ld
--disable-assembler
--disable-xzdec
--disable-lzmadec
--disable-lzmainfo
--disable-lzma-links
--disable-scripts
--disable-silent-rules
--disable-dependency-tracking
--disable-libtool-lock
--disable-nls
--disable-rpath
--disable-largefile
