--enable-encoders=lzma1
--enable-decoders=lzma1,lzma2,delta,x86,sparc,ia64,armthumb,arm,powerpc
--enable-match-finders=bt2,bt3
--enable-threads=yes
--enable-assume-ram=128
--enable-symbol-versions
--enable-sandbox=auto
--enable-fast-install
--enable-fast-install=no
--with-pic=non-PIC
--with-aix-soname=both
--with-gnu-ld=yes
--disable-lzmadec
--disable-lzmainfo
--disable-lzma-links
--disable-dependency-tracking
--disable-nls
--disable-rpath
