--enable-debug
--enable-encoders=lzma1,powerpc
--enable-decoders=lzma1,armthumb
--enable-match-finders=bt2
--enable-checks=crc32,crc64
--enable-small
--enable-threads=yes
--enable-assume-ram=128
--enable-sandbox=no
--enable-dependency-tracking
--enable-fast-install
--enable-unaligned-access
--with-pic=non-PIC
--without-libiconv-prefix
--disable-lzmainfo
--disable-doc
--disable-silent-rules
--disable-dependency-tracking
--disable-libtool-lock
--disable-rpath
