--enable-encoders=lzma1,sparc
--enable-decoders=lzma1,powerpc
--enable-match-finders=hc3,bt3,bt4
--enable-checks=crc32,crc64
--enable-small
--enable-threads=no
--enable-assume-ram=128
--enable-sandbox=capsicum
--enable-silent-rules
--enable-dependency-tracking
--enable-unaligned-access
--enable-unsafe-type-punning
--with-pic=non-PIC
--with-aix-soname=aix
--with-gnu-ld
--disable-option-checking
--disable-assembler
--disable-xzdec
--disable-lzma-links
--disable-doc
--disable-silent-rules
--disable-libtool-lock
--disable-nls
--disable-rpath
