--enable-encoders=lzma1,ia64
--enable-decoders=lzma1,powerpc
--enable-match-finders=bt2,bt3
--enable-checks=crc32,sha256
--enable-small
--enable-threads=posix
--enable-assume-ram=128
--enable-symbol-versions
--enable-sandbox=no
--enable-fast-install
--enable-unaligned-access
--with-pic=non-PIC
--with-aix-soname=svr4
--with-gnu-ld
--disable-option-checking
--disable-assembler
--disable-xzdec
--disable-lzmadec
--disable-lzmainfo
--disable-lzma-links
--disable-silent-rules
--disable-dependency-tracking
--disable-rpath
