--enable-debug
--enable-encoders=lzma1,delta
--enable-decoders=lzma1
--enable-match-finders=hc4,hc3,bt2,bt3
--enable-checks=crc32,crc64,sha256
--enable-small
--enable-threads=yes
--enable-assume-ram=128
--enable-symbol-versions
--enable-sandbox=auto
--enable-fast-install
--enable-fast-install=no
--with-pic=non-PIC
--with-aix-soname=both
--with-gnu-ld=yes
--without-libiconv-prefix
--disable-assembler
--disable-scripts
--disable-doc
--disable-libtool-lock
--disable-nls
--disable-rpath
