--enable-debug
--enable-encoders=lzma1,delta
--enable-decoders=lzma1,lzma2,delta,x86,sparc,ia64,armthumb,arm,powerpc
--enable-match-finders=hc4,hc3,bt2
--enable-checks=crc32,crc64,sha256
--enable-threads=no
--enable-sandbox=capsicum
--enable-unsafe-type-punning
--enable-fast-install=no
--with-pic=PIC
--with-aix-soname=svr4
--with-gnu-ld=yes
--without-libiconv-prefix
--without-libintl-prefix
--disable-option-checking
--disable-lzmainfo
--disable-doc
--disable-silent-rules
--disable-rpath
