--enable-encoders=lzma1,arm
--enable-decoders=lzma1,sparc
--enable-match-finders=bt3,bt4
--enable-small
--enable-threads=posix
--enable-assume-ram=128
--enable-sandbox=no
--enable-silent-rules
--enable-dependency-tracking
--with-pic=non-PIC
--with-gnu-ld=yes
--without-libiconv-prefix
--without-libintl-prefix
--disable-assembler
--disable-lzmainfo
--disable-doc
--disable-dependency-tracking
--disable-libtool-lock
--disable-largefile
