--enable-debug
--enable-encoders=lzma1,armthumb
--enable-decoders=lzma1,lzma2
--enable-match-finders=bt2,bt4
--enable-checks=crc32
--enable-threads=yes
--enable-assume-ram=128
--enable-symbol-versions
--enable-sandbox=capsicum
--enable-dependency-tracking
--enable-fast-install
--enable-unaligned-access
--with-gnu-ld
--without-libiconv-prefix
--disable-assembler
--disable-xzdec
--disable-lzmainfo
--disable-dependency-tracking
--disable-nls
--disable-rpath
--disable-largefile
