--enable-debug
--enable-encoders=lzma1,arm
--enable-decoders=lzma1,armthumb
--enable-match-finders=hc4,bt4
--enable-checks=crc32,sha256
--enable-assume-ram=128
--enable-symbol-versions
--enable-sandbox=capsicum
--enable-silent-rules
--enable-fast-install
--enable-fast-install=no
--with-pic=PIC
--without-libiconv-prefix
--disable-option-checking
--disable-lzmadec
--disable-lzma-links
--disable-doc
--disable-libtool-lock
--disable-nls
