--enable-encoders=lzma1
--enable-decoders=lzma1,armthumb
--enable-match-finders=hc4,bt2,bt4
--enable-checks=crc32,sha256
--enable-threads=posix
--enable-sandbox=no
--enable-unaligned-access
--enable-unsafe-type-punning
--with-pic=PIC
--without-libiconv-prefix
--disable-assembler
--disable-xzdec
--disable-doc
--disable-silent-rules
--disable-dependency-tracking
--disable-libtool-lock
--disable-nls
--disable-rpath
