--enable-debug
--enable-encoders=lzma1,lzma2
--enable-decoders=lzma1,armthumb
--enable-match-finders=hc3,bt3,bt4
--enable-checks=crc32,crc64
--enable-threads=posix
--enable-symbol-versions
--enable-sandbox=auto
--enable-silent-rules
--enable-fast-install
--with-pic=PIC
--with-aix-soname=both
--without-libiconv-prefix
--disable-option-checking
--disable-xzdec
--disable-nls
--disable-rpath
--disable-largefile
