--enable-debug
--enable-encoders=lzma1,armthumb
--enable-decoders=lzma1,arm
--enable-match-finders=hc4,bt2,bt3,bt4
--enable-checks=crc32
--enable-small
--enable-threads=yes
--enable-silent-rules
--enable-dependency-tracking
--enable-fast-install
--enable-unaligned-access
--with-aix-soname=svr4
--with-gnu-ld=yes
--without-libiconv-prefix
--disable-option-checking
--disable-assembler
--disable-xzdec
--disable-lzma-links
--disable-doc
--disable-silent-rules
--disable-dependency-tracking
--disable-largefile
