--enable-debug
--enable-encoders=lzma1,sparc
--enable-decoders=lzma1,ia64
--enable-match-finders=hc3,bt2,bt3
--enable-checks=crc32,crc64
--enable-symbol-versions
--enable-sandbox=capsicum
--enable-dependency-tracking
--enable-fast-install
--enable-unsafe-type-punning
--with-pic=non-PIC
--with-aix-soname=aix
--with-gnu-ld
--with-gnu-ld=yes
--without-libiconv-prefix
--disable-lzma-links
--disable-silent-rules
--disable-dependency-tracking
--disable-largefile
