--enable-debug
--enable-encoders=lzma1,armthumb
--enable-decoders=lzma1
--enable-match-finders=hc4,hc3,bt2
--enable-checks=crc32,crc64
--enable-small
--enable-threads=yes
--enable-assume-ram=128
--enable-sandbox=capsicum
--enable-dependency-tracking
--enable-fast-install
--enable-unsafe-type-punning
--enable-fast-install=no
--with-pic=non-PIC
--with-aix-soname=aix
--with-gnu-ld
--with-gnu-ld=yes
--without-libiconv-prefix
--disable-option-checking
--disable-xzdec
--disable-lzmadec
--disable-scripts
--disable-doc
--disable-libtool-lock
--disable-nls
--disable-rpath
--disable-largefile
