--enable-encoders=lzma1,armthumb
--enable-decoders=lzma1,delta
--enable-match-finders=hc4,bt3
--enable-checks=crc32,crc64,sha256
--enable-threads=yes
--enable-assume-ram=128
--enable-sandbox=auto
--enable-silent-rules
--enable-fast-install
--enable-unaligned-access
--enable-unsafe-type-punning
--with-pic=PIC
--with-aix-soname=aix
--with-gnu-ld
--with-gnu-ld=yes
--without-libiconv-prefix
--without-libintl-prefix
--disable-option-checking
--disable-lzmadec
--disable-lzmainfo
--disable-lzma-links
--disable-nls
