--enable-debug
--enable-encoders=lzma1,delta
--enable-decoders=lzma1,powerpc
--enable-match-finders=bt2,bt3,bt4
--enable-checks=crc32,crc64
--enable-small
--enable-threads=no
--enable-unaligned-access
--enable-unsafe-type-punning
--enable-fast-install=no
--with-aix-soname=aix
--with-gnu-ld
--with-gnu-ld=yes
--without-libintl-prefix
--disable-assembler
--disable-xzdec
--disable-lzmadec
--disable-lzma-links
--disable-libtool-lock
--disable-nls
--disable-rpath
