--enable-debug
--enable-encoders=lzma1,lzma2
--enable-decoders=lzma1,arm
--enable-match-finders=hc4,hc3,bt2,bt3,bt4
--enable-checks=crc32,sha256
--enable-threads=yes
--enable-sandbox=auto
--enable-unaligned-access
--enable-unsafe-type-punning
--with-pic=non-PIC
--with-aix-soname=both
--with-gnu-ld=yes
--disable-option-checking
--disable-assembler
--disable-xzdec
--disable-lzmainfo
--disable-scripts
--disable-nls
