--enable-encoders=lzma1,armthumb
--enable-decoders=lzma1,arm
--enable-match-finders=hc4,bt2,bt3,bt4
--enable-checks=crc32
--enable-threads=posix
--enable-symbol-versions
--enable-sandbox=no
--enable-unaligned-access
--enable-unsafe-type-punning
--with-pic=PIC
--with-aix-soname=svr4
--with-gnu-ld
--disable-option-checking
--disable-xzdec
--disable-lzma-links
--disable-doc
--disable-silent-rules
--disable-dependency-tracking
--disable-largefile
