--enable-debug
--enable-encoders=lzma1,x86
--enable-decoders=lzma1,arm
--enable-match-finders=hc3,bt3
--enable-checks=crc32,crc64
--enable-threads=no
--enable-sandbox=capsicum
--enable-fast-install
--enable-unsafe-type-punning
--enable-fast-install=no
--with-aix-soname=svr4
--without-libiconv-prefix
--without-libintl-prefix
--disable-option-checking
--disable-xzdec
--disable-lzmadec
--disable-doc
--disable-libtool-lock
