--enable-debug
--enable-encoders=lzma1,powerpc
--enable-decoders=lzma1,delta
--enable-match-finders=hc4,bt4
--enable-checks=crc32,crc64
--enable-small
--enable-threads=yes
--enable-sandbox=auto
--enable-dependency-tracking
--enable-fast-install
--enable-unaligned-access
--with-pic=PIC
--with-aix-soname=both
--with-gnu-ld
--with-gnu-ld=yes
--without-libiconv-prefix
--disable-xzdec
--disable-lzma-links
--disable-scripts
--disable-doc
--disable-silent-rules
--disable-rpath
--disable-largefile
