--enable-debug
--enable-encoders=lzma1,lzma2,x86,armthumb,sparc,arm,ia64,powerpc,delta
--enable-decoders=lzma1,sparc
--enable-match-finders=bt4
--enable-checks=crc32,sha256
--enable-threads=posix
--enable-sandbox=capsicum
--enable-fast-install
--enable-unaligned-access
--with-pic=non-PIC
--with-aix-soname=both
--without-libiconv-prefix
--without-libintl-prefix
--disable-option-checking
--disable-lzmadec
--disable-doc
--disable-silent-rules
--disable-dependency-tracking
--disable-nls
