--enable-debug
--enable-encoders=lzma1,powerpc
--enable-decoders=lzma1,arm
--enable-match-finders=bt3
--enable-checks=crc32,sha256
--enable-threads=yes
--enable-assume-ram=128
--enable-sandbox=capsicum
--enable-dependency-tracking
--enable-unsafe-type-punning
--enable-fast-install=no
--with-aix-soname=aix
--with-gnu-ld
--with-gnu-ld=yes
--without-libiconv-prefix
--disable-assembler
--disable-lzmadec
--disable-lzmainfo
--disable-doc
--disable-silent-rules
--disable-dependency-tracking
