--enable-encoders=lzma1,ia64
--enable-decoders=lzma1
--enable-match-finders=hc3,bt2
--enable-checks=crc32,crc64,sha256
--enable-threads=no
--enable-sandbox=capsicum
--enable-dependency-tracking
--enable-fast-install
--enable-unsafe-type-punning
--with-pic=non-PIC
--with-aix-soname=aix
--with-gnu-ld
--disable-option-checking
--disable-lzmainfo
--disable-lzma-links
--disable-scripts
--disable-nls
--disable-rpath
--disable-largefile
