--enable-encoders=lzma1
--enable-decoders=lzma1,x86
--enable-match-finders=hc3,bt3,bt4
--enable-checks=crc32,crc64,sha256
--enable-small
--enable-threads=posix
--enable-sandbox=no
--with-aix-soname=svr4
--with-gnu-ld
--with-gnu-ld=yes
--without-libiconv-prefix
--without-libintl-prefix
--disable-assembler
--disable-xzdec
--disable-lzmainfo
--disable-doc
--disable-libtool-lock
--disable-largefile
