--enable-debug
--enable-encoders=lzma1,x86
--enable-decoders=lzma1,arm
--enable-match-finders=bt2,bt3,bt4
--enable-checks=crc32,crc64
--enable-small
--enable-assume-ram=128
--enable-sandbox=capsicum
--enable-silent-rules
--enable-unaligned-access
--enable-unsafe-type-punning
--with-aix-soname=both
--with-gnu-ld
--with-gnu-ld=yes
--disable-option-checking
--disable-assembler
--disable-xzdec
--disable-lzmadec
--disable-lzmainfo
--disable-lzma-links
--disable-scripts
--disable-rpath
--disable-largefile
