--enable-debug
--enable-encoders=lzma1,lzma2,x86,armthumb,sparc,arm,ia64,powerpc,delta
--enable-decoders=lzma1,x86
--enable-match-finders=bt3
--enable-threads=no
--enable-sandbox=capsicum
--enable-silent-rules
--enable-dependency-tracking
--enable-unaligned-access
--with-aix-soname=both
--without-libintl-prefix
--disable-option-checking
--disable-assembler
--disable-xzdec
--disable-lzmadec
--disable-lzma-links
--disable-nls
--disable-largefile
