--enable-debug
--enable-encoders=lzma1,delta
--enable-decoders=lzma1,arm
--enable-match-finders=hc3,bt3,bt4
--enable-checks=crc32,crc64
--enable-threads=posix
--enable-assume-ram=128
--enable-symbol-versions
--enable-sandbox=no
--enable-dependency-tracking
--enable-fast-install
--enable-unsafe-type-punning
--enable-fast-install=no
--with-pic=non-PIC
--with-aix-soname=both
--with-gnu-ld
--without-libiconv-prefix
--disable-lzmadec
--disable-lzmainfo
--disable-lzma-links
--disable-dependency-tracking
--disable-libtool-lock
--disable-largefile
