--enable-debug
--enable-encoders=lzma1,powerpc
--enable-decoders=lzma1,delta
--enable-match-finders=bt2,bt3
--enable-checks=crc32,crc64,sha256
--enable-small
--enable-threads=no
--enable-symbol-versions
--enable-sandbox=capsicum
--enable-dependency-tracking
--enable-fast-install
--enable-unaligned-access
--enable-unsafe-type-punning
--enable-fast-install=no
--with-pic=PIC
--with-aix-soname=both
--with-gnu-ld
--with-gnu-ld=yes
--without-libintl-prefix
--disable-assembler
--disable-lzmadec
--disable-lzmainfo
--disable-doc
--disable-libtool-lock
--disable-rpath
--disable-largefile
