--enable-debug
--enable-encoders=lzma1,delta
--enable-decoders=lzma1,delta
--enable-match-finders=hc3,bt3,bt4
--enable-checks=crc32,crc64,sha256
--enable-threads=posix
--enable-assume-ram=128
--enable-dependency-tracking
--enable-unsafe-type-punning
--enable-fast-install=no
--with-pic=non-PIC
--with-aix-soname=aix
--with-gnu-ld=yes
--without-libiconv-prefix
--without-libintl-prefix
--disable-assembler
--disable-lzma-links
--disable-scripts
--disable-doc
--disable-dependency-tracking
--disable-nls
--disable-rpath
