--enable-debug
--enable-encoders=lzma1,x86
--enable-decoders=lzma1
--enable-match-finders=hc3,bt2,bt3
--enable-checks=crc32,sha256
--enable-threads=yes
--enable-assume-ram=128
--enable-sandbox=auto
--enable-silent-rules
--enable-dependency-tracking
--enable-fast-install
--with-pic=non-PIC
--with-aix-soname=aix
--with-gnu-ld
--with-gnu-ld=yes
--disable-option-checking
--disable-assembler
--disable-lzmadec
--disable-lzmainfo
--disable-lzma-links
--disable-dependency-tracking
--disable-libtool-lock
