--enable-debug
--enable-encoders=lzma1,armthumb
--enable-decoders=lzma1,delta
--enable-match-finders=hc4,bt2,bt3
--enable-checks=crc32,sha256
--enable-threads=no
--enable-symbol-versions
--enable-sandbox=no
--enable-silent-rules
--enable-unaligned-access
--enable-unsafe-type-punning
--enable-fast-install=no
--with-pic=PIC
--with-aix-soname=svr4
--with-gnu-ld
--without-libiconv-prefix
--without-libintl-prefix
--disable-xzdec
--disable-lzmainfo
--disable-lzma-links
--disable-rpath
--disable-largefile
