--enable-debug
--enable-encoders=lzma1,arm
--enable-decoders=lzma1,delta
--enable-match-finders=hc4,bt2
--enable-small
--enable-threads=yes
--enable-symbol-versions
--enable-sandbox=auto
--enable-silent-rules
--enable-unsafe-type-punning
--with-pic=non-PIC
--with-aix-soname=aix
--with-gnu-ld
--with-gnu-ld=yes
--disable-option-checking
--disable-assembler
--disable-scripts
--disable-doc
--disable-dependency-tracking
--disable-nls
--disable-largefile
