--enable-debug
--enable-encoders=lzma1,arm
--enable-decoders=lzma1,delta
--enable-match-finders=hc4,hc3,bt2
--enable-checks=crc32,crc64,sha256
--enable-threads=posix
--enable-assume-ram=128
--enable-symbol-versions
--enable-sandbox=auto
--enable-silent-rules
--enable-unsafe-type-punning
--enable-fast-install=no
--with-pic=PIC
--with-aix-soname=aix
--with-gnu-ld
--with-gnu-ld=yes
--without-libiconv-prefix
--without-libintl-prefix
--disable-assembler
--disable-lzmainfo
--disable-scripts
--disable-doc
--disable-dependency-tracking
--disable-libtool-lock
--disable-nls
