--enable-encoders=lzma1,armthumb
--enable-decoders=lzma1,arm
--enable-match-finders=bt4
--enable-checks=crc32,crc64,sha256
--enable-symbol-versions
--enable-sandbox=capsicum
--enable-fast-install
--enable-unaligned-access
--enable-unsafe-type-punning
--enable-fast-install=no
--with-pic=PIC
--with-aix-soname=both
--with-gnu-ld=yes
--disable-option-checking
--disable-lzmainfo
--disable-lzma-links
--disable-scripts
--disable-dependency-tracking
--disable-libtool-lock
--disable-rpath
--disable-largefile
