--enable-debug
--enable-encoders=lzma1,ia64
--enable-decoders=lzma1,lzma2,delta,x86,sparc,ia64,armthumb,arm,powerpc
--enable-match-finders=hc3,bt2
--enable-checks=crc32,crc64,sha256
--enable-small
--enable-threads=yes
--enable-sandbox=auto
--enable-dependency-tracking
--enable-fast-install
--enable-unaligned-access
--enable-unsafe-type-punning
--with-pic=PIC
--with-aix-soname=aix
--with-gnu-ld=yes
--disable-assembler
--disable-xzdec
--disable-doc
--disable-dependency-tracking
--disable-libtool-lock
--disable-largefile
