--enable-debug
--enable-encoders=lzma1,sparc
--enable-decoders=lzma1,sparc
--enable-match-finders=hc4,bt3
--enable-threads=no
--enable-symbol-versions
--enable-sandbox=auto
--enable-unsafe-type-punning
--enable-fast-install=no
--without-libiconv-prefix
--disable-option-checking
--disable-assembler
--disable-xzdec
--disable-lzma-links
--disable-silent-rules
--disable-libtool-lock
--disable-nls
--disable-rpath
