--enable-debug
--enable-encoders=lzma1,lzma2
--enable-decoders=lzma1,arm
--enable-match-finders=hc3,bt2,bt3,bt4
--enable-checks=crc32,crc64,sha256
--enable-small
--enable-threads=yes
--enable-sandbox=no
--enable-unsafe-type-punning
--with-pic=non-PIC
--with-aix-soname=svr4
--with-gnu-ld
--with-gnu-ld=yes
--without-libintl-prefix
--disable-assembler
--disable-lzmadec
--disable-lzma-links
--disable-scripts
--disable-libtool-lock
--disable-nls
