--enable-debug
--enable-encoders=lzma1,arm
--enable-decoders=lzma1
--enable-match-finders=hc4,bt4
--enable-checks=crc32,crc64
--enable-threads=no
--enable-assume-ram=128
--enable-sandbox=auto
--enable-unsafe-type-punning
--with-pic=PIC
--with-aix-soname=both
--disable-assembler
--disable-xzdec
--disable-lzmadec
--disable-lzmainfo
--disable-lzma-links
--disable-doc
--disable-silent-rules
--disable-dependency-tracking
