--enable-encoders=lzma1,powerpc
--enable-decoders=lzma1,lzma2
--enable-match-finders=hc3,bt2,bt4
--enable-checks=crc32,crc64,sha256
--enable-small
--enable-threads=posix
--enable-symbol-versions
--enable-sandbox=auto
--enable-silent-rules
--enable-dependency-tracking
--enable-fast-install=no
--with-pic=PIC
--with-aix-soname=svr4
--without-libintl-prefix
--disable-option-checking
--disable-lzmadec
--disable-scripts
--disable-nls
