--enable-debug
--enable-encoders=lzma1,ia64
--enable-decoders=lzma1,powerpc
--enable-match-finders=hc4,hc3,bt2,bt3,bt4
--enable-checks=crc32,sha256
--enable-small
--enable-threads=no
--enable-sandbox=auto
--enable-silent-rules
--enable-unsafe-type-punning
--enable-fast-install=no
--with-aix-soname=both
--with-gnu-ld
--with-gnu-ld=yes
--disable-xzdec
--disable-scripts
--disable-doc
--disable-dependency-tracking
--disable-libtool-lock
--disable-nls
--disable-rpath
