--enable-debug
--enable-encoders=lzma1,arm
--enable-decoders=lzma1,sparc
--enable-match-finders=hc3,bt3,bt4
--enable-checks=crc32,crc64,sha256
--enable-small
--enable-threads=no
--enable-symbol-versions
--enable-sandbox=auto
--enable-silent-rules
--enable-fast-install
--with-pic=non-PIC
--with-aix-soname=aix
--with-gnu-ld
--with-gnu-ld=yes
--without-libiconv-prefix
--without-libintl-prefix
--disable-option-checking
--disable-assembler
--disable-lzmainfo
--disable-scripts
--disable-silent-rules
--disable-libtool-lock
--disable-nls
