--enable-encoders=lzma1,lzma2,x86,armthumb,sparc,arm,ia64,powerpc,delta
--enable-decoders=lzma1,sparc
--enable-match-finders=hc3,bt2
--enable-checks=crc32,crc64,sha256
--enable-threads=yes
--enable-symbol-versions
--enable-silent-rules
--enable-unaligned-access
--enable-fast-install=no
--with-aix-soname=svr4
--with-gnu-ld
--disable-assembler
--disable-lzmadec
--disable-scripts
--disable-dependency-tracking
--disable-libtool-lock
--disable-largefile
