--enable-encoders=lzma1,sparc
--enable-decoders=lzma1,x86
--enable-match-finders=bt2,bt3,bt4
--enable-checks=crc32
--enable-threads=yes
--enable-sandbox=auto
--enable-fast-install
--enable-unsafe-type-punning
--enable-fast-install=no
--with-aix-soname=svr4
--with-gnu-ld
--with-gnu-ld=yes
--without-libiconv-prefix
--without-libintl-prefix
--disable-option-checking
--disable-lzma-links
--disable-scripts
--disable-doc
--disable-libtool-lock
--disable-rpath
--disable-largefile
