--enable-encoders=lzma1,ia64
--enable-decoders=lzma1,arm
--enable-match-finders=hc4,bt3
--enable-checks=crc32,crc64
--enable-assume-ram=128
--enable-symbol-versions
--enable-sandbox=no
--enable-fast-install
--enable-unaligned-access
--enable-unsafe-type-punning
--enable-fast-install=no
--with-pic=non-PIC
--with-aix-soname=aix
--with-gnu-ld
--with-gnu-ld=yes
--without-libintl-prefix
--disable-assembler
--disable-xzdec
--disable-lzmadec
--disable-doc
--disable-nls
--disable-rpath
--disable-largefile
