--enable-encoders=lzma1,lzma2,x86,armthumb,sparc,arm,ia64,powerpc,delta
--enable-decoders=lzma1,lzma2,delta,x86,sparc,ia64,armthumb,arm,powerpc
--enable-match-finders=hc4,bt4
--enable-checks=crc32,crc64,sha256
--enable-sandbox=capsicum
--enable-dependency-tracking
--enable-fast-install
--enable-unaligned-access
--enable-unsafe-type-punning
--enable-fast-install=no
--with-pic=PIC
--with-aix-soname=both
--with-gnu-ld=yes
--without-libintl-prefix
--disable-lzmadec
--disable-lzmainfo
--disable-scripts
--disable-silent-rules
--disable-rpath
