--enable-encoders=lzma1,sparc
--enable-decoders=lzma1,armthumb
--enable-match-finders=hc4
--enable-checks=crc32,crc64,sha256
--enable-threads=no
--enable-symbol-versions
--enable-sandbox=no
--enable-silent-rules
--enable-dependency-tracking
--enable-fast-install
--enable-unaligned-access
--with-aix-soname=both
--without-libintl-prefix
--disable-lzmadec
--disable-lzmainfo
--disable-nls
--disable-rpath
