--enable-debug
--enable-encoders=lzma1
--enable-decoders=lzma1,sparc
--enable-match-finders=bt2,bt3
--enable-checks=crc32,sha256
--enable-small
--enable-threads=posix
--enable-sandbox=auto
--enable-silent-rules
--enable-dependency-tracking
--enable-fast-install
--enable-unaligned-access
--with-pic=non-PIC
--with-aix-soname=aix
--with-gnu-ld
--with-gnu-ld=yes
--without-libiconv-prefix
--disable-xzdec
--disable-lzmadec
--disable-lzmainfo
--disable-dependency-tracking
--disable-nls
--disable-rpath
--disable-largefile
