--enable-encoders=lzma1
--enable-decoders=lzma1
--enable-match-finders=hc4,hc3,bt3
--enable-checks=crc32,crc64,sha256
--enable-threads=no
--enable-symbol-versions
--enable-sandbox=capsicum
--enable-dependency-tracking
--with-pic=PIC
--with-gnu-ld
--disable-option-checking
--disable-assembler
--disable-lzmainfo
--disable-libtool-lock
--disable-rpath
