--enable-debug
--enable-encoders=lzma1,delta
--enable-decoders=lzma1,ia64
--enable-match-finders=hc4,bt2,bt3
--enable-checks=crc32,sha256
--enable-small
--enable-threads=no
--enable-assume-ram=128
--enable-sandbox=no
--enable-fast-install
--enable-unaligned-access
--enable-fast-install=no
--with-pic=PIC
--with-aix-soname=aix
--with-gnu-ld=yes
--without-libiconv-prefix
--disable-option-checking
--disable-xzdec
--disable-lzmainfo
--disable-lzma-links
--disable-doc
--disable-dependency-tracking
--disable-libtool-lock
--disable-nls
