--enable-encoders=lzma1,ia64
--enable-decoders=lzma1,powerpc
--enable-match-finders=hc4,hc3,bt2,bt3,bt4
--enable-checks=crc32,sha256
--enable-small
--enable-threads=yes
--enable-assume-ram=128
--enable-fast-install
--enable-unsafe-type-punning
--enable-fast-install=no
--with-pic=non-PIC
--with-aix-soname=aix
--without-libiconv-prefix
--without-libintl-prefix
--disable-assembler
--disable-xzdec
--disable-lzmadec
--disable-scripts
--disable-dependency-tracking
--disable-libtool-lock
--disable-nls
--disable-rpath
--disable-largefile
