--enable-debug
--enable-encoders=lzma1
--enable-decoders=lzma1,lzma2,delta,x86,sparc,ia64,armthumb,arm,powerpc
--enable-match-finders=bt2
--enable-threads=no
--enable-assume-ram=128
--enable-sandbox=auto
--enable-fast-install
--enable-unaligned-access
--enable-fast-install=no
--with-pic=PIC
--with-aix-soname=svr4
--with-gnu-ld
--disable-xzdec
--disable-lzmainfo
--disable-doc
