--enable-encoders=lzma1,armthumb
--enable-decoders=lzma1,powerpc
--enable-match-finders=bt2,bt3,bt4
--enable-checks=crc32,crc64,sha256
--enable-small
--enable-threads=posix
--enable-symbol-versions
--enable-sandbox=capsicum
--enable-silent-rules
--enable-fast-install
--enable-fast-install=no
--with-pic=PIC
--with-aix-soname=both
--with-gnu-ld
--with-gnu-ld=yes
--disable-assembler
--disable-xzdec
--disable-lzmadec
--disable-dependency-tracking
--disable-libtool-lock
--disable-nls
--disable-largefile
