--enable-encoders=lzma1,x86
--enable-decoders=lzma1,delta
--enable-match-finders=hc4,hc3,bt2
--enable-checks=crc32
--enable-threads=yes
--enable-sandbox=auto
--enable-silent-rules
--enable-dependency-tracking
--enable-fast-install
--with-pic=PIC
--with-aix-soname=both
--with-gnu-ld=yes
--disable-option-checking
--disable-assembler
--disable-lzmainfo
--disable-doc
--disable-dependency-tracking
