--enable-encoders=lzma1,ia64
--enable-decoders=lzma1,arm
--enable-match-finders=bt2,bt4
--enable-checks=crc32,sha256
--enable-small
--enable-threads=posix
--enable-symbol-versions
--enable-sandbox=auto
--enable-fast-install
--enable-unaligned-access
--enable-fast-install=no
--with-pic=PIC
--with-aix-soname=svr4
--with-gnu-ld=yes
--without-libintl-prefix
--disable-option-checking
--disable-scripts
--disable-silent-rules
--disable-dependency-tracking
--disable-nls
