--enable-debug
--enable-encoders=lzma1,lzma2,x86,armthumb,sparc,arm,ia64,powerpc,delta
--enable-decoders=lzma1,arm
--enable-match-finders=hc3
--enable-checks=crc32
--enable-threads=no
--enable-sandbox=no
--enable-silent-rules
--enable-fast-install=no
--with-gnu-ld
--without-libiconv-prefix
--without-libintl-prefix
--disable-xzdec
--disable-lzmadec
--disable-lzmainfo
--disable-scripts
--disable-dependency-tracking
--disable-libtool-lock
--disable-rpath
