--enable-debug
--enable-encoders=lzma1,lzma2
--enable-decoders=lzma1,armthumb
--enable-match-finders=hc3,bt2,bt3,bt4
--enable-checks=crc32,crc64
--enable-threads=no
--enable-assume-ram=128
--with-pic=non-PIC
--with-aix-soname=both
--with-gnu-ld
--with-gnu-ld=yes
--without-libiconv-prefix
--disable-lzmainfo
--disable-scripts
--disable-silent-rules
--disable-libtool-lock
--disable-rpath
--disable-largefile
