--enable-encoders=lzma1
--enable-decoders=lzma1,arm
--enable-match-finders=bt4
--enable-checks=crc32
--enable-threads=posix
--enable-assume-ram=128
--enable-symbol-versions
--enable-unaligned-access
--enable-unsafe-type-punning
--with-pic=non-PIC
--with-gnu-ld=yes
--disable-option-checking
--disable-assembler
--disable-xzdec
--disable-lzmainfo
--disable-lzma-links
--disable-doc
--disable-silent-rules
--disable-nls
--disable-rpath
--disable-largefile
