--enable-debug
--enable-encoders=lzma1,lzma2
--enable-decoders=lzma1,sparc
--enable-match-finders=hc3,bt2,bt3
--enable-checks=crc32
--enable-small
--enable-threads=no
--enable-assume-ram=128
--enable-symbol-versions
--enable-sandbox=capsicum
--enable-silent-rules
--enable-dependency-tracking
--enable-fast-install=no
--with-pic=non-PIC
--with-gnu-ld
--without-libintl-prefix
--disable-option-checking
--disable-assembler
--disable-lzmadec
--disable-doc
--disable-silent-rules
--disable-nls
--disable-largefile
