--enable-encoders=lzma1,x86
--enable-decoders=lzma1,armthumb
--enable-match-finders=hc4,bt4
--enable-checks=crc32
--enable-threads=no
--enable-assume-ram=128
--enable-symbol-versions
--enable-sandbox=capsicum
--enable-silent-rules
--enable-unaligned-access
--enable-unsafe-type-punning
--with-pic=non-PIC
--with-aix-soname=aix
--without-libintl-prefix
--disable-xzdec
--disable-lzma-links
--disable-doc
--disable-silent-rules
--disable-nls
--disable-rpath
