--enable-encoders=lzma1,lzma2
--enable-decoders=lzma1,delta
--enable-match-finders=hc4,hc3,bt2
--enable-small
--enable-threads=no
--enable-sandbox=capsicum
--enable-dependency-tracking
--enable-unsafe-type-punning
--with-aix-soname=aix
--disable-assembler
--disable-xzdec
--disable-lzmadec
--disable-lzmainfo
--disable-libtool-lock
--disable-nls
--disable-largefile
