--enable-debug
--enable-encoders=lzma1,lzma2,x86,armthumb,sparc,arm,ia64,powerpc,delta
--enable-decoders=lzma1,delta
--enable-match-finders=hc4,hc3,bt2
--enable-checks=crc32,crc64
--enable-threads=no
--enable-symbol-versions
--enable-sandbox=capsicum
--enable-dependency-tracking
--enable-fast-install
--enable-unaligned-access
--enable-unsafe-type-punning
--with-pic=PIC
--with-aix-soname=both
--with-gnu-ld
--disable-option-checking
--disable-xzdec
--disable-lzmadec
--disable-lzma-links
--disable-libtool-lock
--disable-rpath
