--enable-debug
--enable-encoders=lzma1,sparc
--enable-decoders=lzma1,lzma2,delta,x86,sparc,ia64,armthumb,arm,powerpc
--enable-match-finders=hc3,bt2,bt3,bt4
--enable-small
--enable-symbol-versions
--enable-sandbox=capsicum
--enable-silent-rules
--enable-fast-install=no
--with-aix-soname=both
--without-libiconv-prefix
--without-libintl-prefix
--disable-assembler
--disable-lzmadec
--disable-lzmainfo
--disable-scripts
--disable-doc
--disable-silent-rules
--disable-libtool-lock
--disable-rpath
