--enable-encoders=lzma1,arm
--enable-decoders=lzma1,sparc
--enable-match-finders=hc4,hc3,bt2,bt3
--enable-checks=crc32,crc64
--enable-small
--enable-shared=no
--enable-sandbox=no
--enable-unaligned-access
--enable-unsafe-type-punning
--enable-static
--enable-fast-install=no
--with-pic=PIC
--with-aix-soname=svr4
--with-gnu-ld=yes
--with-libiconv-prefix
--with-libintl-prefix
--disable-lzmadec
--disable-lzma-links
--disable-scripts
--disable-doc
--disable-silent-rules
--disable-dependency-tracking
--disable-libtool-lock
--disable-nls
--disable-rpath
