--enable-encoders=lzma1,armthumb
--enable-decoders=lzma1,lzma2
--enable-match-finders=hc4,hc3,bt2,bt3
--enable-checks=crc32,crc64
--enable-threads=yes
--enable-shared=no
--enable-symbol-versions
--enable-sandbox=capsicum
--enable-silent-rules
--enable-unsafe-type-punning
--enable-static
--with-pic=PIC
--with-aix-soname=both
--with-gnu-ld
--without-libiconv-prefix
--without-libintl-prefix
--disable-assembler
--disable-lzmadec
--disable-lzmainfo
--disable-scripts
--disable-doc
--disable-dependency-tracking
--disable-nls
--disable-rpath
--disable-largefile
