--enable-encoders=lzma1,ia64
--enable-decoders=lzma1,delta
--enable-match-finders=hc4,hc3,bt2
--enable-checks=crc32
--enable-small
--enable-threads=posix
--enable-assume-ram=128
--enable-shared=no
--enable-symbol-versions
--enable-sandbox=no
--enable-dependency-tracking
--with-aix-soname=svr4
--with-gnu-ld=yes
--with-libintl-prefix
--disable-lzmadec
--disable-lzmainfo
--disable-doc
--disable-silent-rules
--disable-libtool-lock
--disable-largefile
