--enable-encoders=lzma1
--enable-decoders=lzma1,lzma2
--enable-match-finders=hc3,bt3
--enable-checks=crc32,crc64
--enable-assume-ram=128
--enable-shared=no
--enable-sandbox=capsicum
--enable-silent-rules
--enable-fast-install
--enable-fast-install=no
--with-aix-soname=both
--without-libiconv-prefix
--disable-lzmainfo
--disable-lzma-links
--disable-largefile
