--enable-encoders=lzma1,sparc
--enable-decoders=lzma1,sparc
--enable-match-finders=hc3,bt2,bt3
--enable-checks=crc32
--enable-threads=posix
--enable-assume-ram=128
--enable-shared=no
--enable-symbol-versions
--enable-sandbox=capsicum
--enable-silent-rules
--enable-fast-install
--enable-static
--enable-fast-install=no
--with-aix-soname=aix
--with-gnu-ld
--with-gnu-ld=yes
--without-libintl-prefix
--disable-option-checking
--disable-lzmadec
--disable-scripts
--disable-doc
--disable-libtool-lock
--disable-nls
--disable-rpath
--disable-largefile
