--enable-encoders=lzma1,delta
--enable-decoders=lzma1,armthumb
--enable-match-finders=hc4,bt2,bt3
--enable-checks=crc32,crc64,sha256
--enable-small
--enable-threads=posix
--enable-symbol-versions
--enable-sandbox=capsicum
--enable-unaligned-access
--with-pic=PIC
--with-aix-soname=aix
--with-gnu-ld
--with-gnu-ld=yes
--with-libintl-prefix
--disable-xzdec
--disable-lzmainfo
--disable-libtool-lock
--disable-nls
--disable-rpath
