--enable-encoders=lzma1,sparc
--enable-decoders=lzma1,x86
--enable-match-finders=hc4,bt2,bt3
--enable-checks=crc32,sha256
--enable-small
--enable-threads=yes
--enable-shared=no
--enable-symbol-versions
--enable-sandbox=capsicum
--enable-silent-rules
--enable-dependency-tracking
--enable-fast-install
--enable-unaligned-access
--enable-fast-install=no
--with-pic=non-PIC
--with-aix-soname=aix
--with-gnu-ld
--with-gnu-ld=yes
--without-libiconv-prefix
--with-libintl-prefix
--disable-xzdec
--disable-lzmadec
--disable-lzma-links
--disable-doc
--disable-rpath
--disable-largefile
