--enable-encoders=lzma1,lzma2,x86,armthumb,sparc,arm,ia64,powerpc,delta
--enable-decoders=lzma1,armthumb
--enable-match-finders=hc4,bt2,bt4
--enable-checks=crc32,crc64,sha256
--enable-threads=no
--enable-assume-ram=128
--enable-symbol-versions
--enable-sandbox=auto
--enable-dependency-tracking
--enable-unaligned-access
--enable-static
--with-pic=non-PIC
--with-aix-soname=aix
--with-libiconv-prefix
--without-libintl-prefix
--disable-option-checking
--disable-assembler
--disable-xzdec
--disable-lzmainfo
--disable-scripts
--disable-silent-rules
--disable-libtool-lock
--disable-nls
