--enable-encoders=lzma1,ia64
--enable-decoders=lzma1
--enable-match-finders=hc3,bt4
--enable-checks=crc32,crc64
--enable-threads=posix
--enable-shared=no
--enable-symbol-versions
--enable-sandbox=capsicum
--enable-silent-rules
--enable-dependency-tracking
--enable-fast-install
--enable-static
--enable-fast-install=no
--with-pic=PIC
--with-aix-soname=both
--with-gnu-ld=yes
--with-libiconv-prefix
--with-libintl-prefix
--disable-option-checking
--disable-assembler
--disable-lzmainfo
--disable-lzma-links
--disable-scripts
--disable-silent-rules
--disable-libtool-lock
--disable-nls
