--enable-encoders=lzma1,powerpc
--enable-decoders=lzma1,ia64
--enable-match-finders=hc3
--enable-checks=crc32
--enable-threads=yes
--enable-shared=no
--enable-silent-rules
--enable-unsafe-type-punning
--enable-static
--with-pic=PIC
--with-aix-soname=svr4
--with-gnu-ld
--with-gnu-ld=yes
--disable-option-checking
--disable-assembler
--disable-xzdec
--disable-lzmadec
--disable-lzmainfo
--disable-lzma-links
--disable-scripts
--disable-doc
--disable-nls
--disable-rpath
--disable-largefile
