--enable-encoders=lzma1,x86
--enable-decoders=lzma1,powerpc
--enable-match-finders=hc4,bt3
--enable-checks=crc32,sha256
--enable-small
--enable-threads=yes
--enable-assume-ram=128
--enable-symbol-versions
--enable-sandbox=auto
--enable-fast-install
--enable-unaligned-access
--enable-unsafe-type-punning
--enable-static
--enable-fast-install=no
--with-aix-soname=svr4
--with-gnu-ld
--with-libiconv-prefix
--without-libintl-prefix
--disable-option-checking
--disable-lzmainfo
--disable-silent-rules
--disable-libtool-lock
