--enable-encoders=lzma1,arm
--enable-decoders=lzma1,arm
--enable-match-finders=hc4,hc3,bt3
--enable-checks=crc32,sha256
--enable-small
--enable-threads=posix
--enable-assume-ram=128
--enable-shared=no
--enable-symbol-versions
--enable-sandbox=no
--enable-silent-rules
--enable-fast-install
--enable-unsafe-type-punning
--with-pic=PIC
--with-aix-soname=svr4
--with-gnu-ld
--with-gnu-ld=yes
--with-libiconv-prefix
--without-libintl-prefix
--disable-option-checking
--disable-assembler
--disable-scripts
--disable-silent-rules
--disable-dependency-tracking
--disable-nls
--disable-largefile
