--enable-encoders=lzma1,delta
--enable-decoders=lzma1,x86
--enable-match-finders=hc3,bt2
--enable-checks=crc32
--enable-small
--enable-threads=posix
--enable-assume-ram=128
--enable-sandbox=auto
--enable-fast-install
--enable-unsafe-type-punning
--enable-static
--enable-fast-install=no
--with-pic=non-PIC
--with-aix-soname=both
--with-gnu-ld
--with-gnu-ld=yes
--disable-assembler
--disable-xzdec
--disable-lzmainfo
--disable-silent-rules
--disable-dependency-tracking
--disable-libtool-lock
--disable-largefile
