--enable-encoders=lzma1,arm
--enable-decoders=lzma1,sparc
--enable-match-finders=hc4,hc3,bt2
--enable-checks=crc32,sha256
--enable-threads=posix
--enable-assume-ram=128
--enable-sandbox=capsicum
--enable-silent-rules
--enable-fast-install
--enable-unsafe-type-punning
--enable-fast-install=no
--with-pic=non-PIC
--with-aix-soname=svr4
--with-gnu-ld=yes
--with-libintl-prefix
--disable-lzmainfo
--disable-nls
--disable-largefile
