--enable-encoders=lzma1,sparc
--enable-decoders=lzma1,x86
--enable-match-finders=hc4,hc3,bt2,bt4
--enable-checks=crc32,sha256
--enable-small
--enable-threads=posix
--enable-assume-ram=128
--enable-shared=no
--enable-sandbox=no
--enable-dependency-tracking
--enable-fast-install
--with-pic=non-PIC
--with-aix-soname=both
--with-gnu-ld
--without-libintl-prefix
--disable-xzdec
--disable-lzmainfo
--disable-lzma-links
--disable-scripts
--disable-silent-rules
--disable-rpath
