--enable-encoders=lzma1
--enable-decoders=lzma1,lzma2,delta,x86,sparc,ia64,armthumb,arm,powerpc
--enable-match-finders=bt2
--enable-checks=crc32,sha256
--enable-threads=no
--enable-symbol-versions
--enable-sandbox=auto
--enable-silent-rules
--enable-dependency-tracking
--enable-unaligned-access
--enable-unsafe-type-punning
--enable-static
--with-aix-soname=aix
--with-gnu-ld=yes
--with-libiconv-prefix
--with-libintl-prefix
--disable-option-checking
--disable-assembler
--disable-xzdec
--disable-lzmainfo
--disable-scripts
--disable-silent-rules
--disable-dependency-tracking
--disable-libtool-lock
--disable-nls
--disable-largefile
