--enable-encoders=lzma1,arm
--enable-decoders=lzma1
--enable-match-finders=bt2,bt3
--enable-checks=crc32
--enable-threads=posix
--enable-symbol-versions
--enable-sandbox=capsicum
--enable-unsafe-type-punning
--enable-static
--enable-fast-install=no
--with-pic=non-PIC
--with-aix-soname=aix
--with-libiconv-prefix
--without-libintl-prefix
--disable-assembler
--disable-lzmainfo
--disable-lzma-links
--disable-scripts
--disable-doc
--disable-silent-rules
--disable-libtool-lock
--disable-nls
--disable-largefile
