--enable-encoders=lzma1,arm
--enable-decoders=lzma1,arm
--enable-match-finders=bt2,bt3
--enable-checks=crc32,sha256
--enable-small
--enable-shared=no
--enable-symbol-versions
--enable-sandbox=capsicum
--enable-unsafe-type-punning
--enable-fast-install=no
--with-pic=PIC
--with-aix-soname=svr4
--with-gnu-ld
--with-libiconv-prefix
--with-libintl-prefix
--disable-lzmadec
--disable-lzmainfo
--disable-lzma-links
--disable-libtool-lock
--disable-rpath
