--enable-encoders=lzma1,delta
--enable-decoders=lzma1,delta
--enable-match-finders=hc4,hc3,bt4
--enable-checks=crc32
--enable-threads=posix
--enable-shared=no
--enable-symbol-versions
--enable-sandbox=capsicum
--enable-silent-rules
--enable-fast-install
--enable-static
--with-aix-soname=svr4
--with-gnu-ld
--with-libiconv-prefix
--with-libintl-prefix
--disable-xzdec
--disable-lzmadec
--disable-scripts
--disable-doc
--disable-silent-rules
--disable-dependency-tracking
--disable-nls
