--enable-encoders=lzma1,lzma2
--enable-decoders=lzma1
--enable-match-finders=hc4,hc3,bt3
--enable-checks=crc32
--enable-small
--enable-threads=posix
--enable-assume-ram=128
--enable-shared=no
--enable-symbol-versions
--enable-sandbox=capsicum
--enable-unsafe-type-punning
--enable-static
--with-pic=non-PIC
--with-aix-soname=svr4
--with-gnu-ld
--with-gnu-ld=yes
--with-libintl-prefix
--disable-lzmadec
--disable-scripts
--disable-libtool-lock
--disable-rpath
