--enable-encoders=lzma1,lzma2
--enable-decoders=lzma1,delta
--enable-match-finders=hc3,bt2,bt3,bt4
--enable-checks=crc32,crc64
--enable-threads=posix
--enable-assume-ram=128
--enable-sandbox=no
--enable-dependency-tracking
--enable-unaligned-access
--enable-unsafe-type-punning
--enable-fast-install=no
--with-pic=non-PIC
--with-aix-soname=both
--with-libiconv-prefix
--without-libintl-prefix
--disable-xzdec
--disable-lzmainfo
--disable-lzma-links
--disable-silent-rules
--disable-dependency-tracking
--disable-libtool-lock
--disable-nls
