--enable-encoders=lzma1,lzma2,x86,armthumb,sparc,arm,ia64,powerpc,delta
--enable-decoders=lzma1,delta
--enable-match-finders=hc4,bt3,bt4
--enable-checks=crc32,crc64
--enable-threads=yes
--enable-shared=no
--enable-symbol-versions
--enable-sandbox=no
--enable-dependency-tracking
--enable-static
--with-aix-soname=aix
--with-gnu-ld=yes
--with-libiconv-prefix
--without-libintl-prefix
--disable-option-checking
--disable-xzdec
--disable-lzmainfo
--disable-lzma-links
--disable-scripts
--disable-doc
--disable-libtool-lock
