--enable-encoders=lzma1,delta
--enable-decoders=lzma1,powerpc
--enable-match-finders=hc4
--enable-checks=crc32,crc64
--enable-threads=posix
--enable-assume-ram=128
--enable-symbol-versions
--enable-unaligned-access
--enable-unsafe-type-punning
--enable-fast-install=no
--with-gnu-ld=yes
--without-libiconv-prefix
--without-libintl-prefix
--disable-assembler
--disable-xzdec
--disable-lzmainfo
--disable-scripts
--disable-silent-rules
--disable-libtool-lock
--disable-nls
--disable-rpath
--disable-largefile
