--enable-encoders=lzma1,delta
--enable-decoders=lzma1,x86
--enable-match-finders=hc4,bt2
--enable-checks=crc32,crc64
--enable-small
--enable-sandbox=no
--enable-silent-rules
--enable-dependency-tracking
--enable-unsafe-type-punning
--enable-static
--with-aix-soname=svr4
--without-libintl-prefix
--disable-option-checking
--disable-xzdec
--disable-lzma-links
--disable-libtool-lock
