--enable-encoders=lzma1,delta
--enable-decoders=lzma1,delta
--enable-match-finders=hc4,hc3,bt2,bt3
--enable-checks=crc32,sha256
--enable-threads=no
--enable-assume-ram=128
--enable-shared=no
--enable-symbol-versions
--enable-sandbox=capsicum
--enable-silent-rules
--enable-unaligned-access
--enable-static
--with-pic=non-PIC
--with-aix-soname=both
--with-gnu-ld
--with-gnu-ld=yes
--with-libiconv-prefix
--with-libintl-prefix
--disable-assembler
--disable-xzdec
--disable-lzmadec
--disable-lzma-links
--disable-scripts
--disable-doc
--disable-nls
--disable-largefile
