--enable-encoders=lzma1,x86
--enable-decoders=lzma1,ia64
--enable-match-finders=bt3
--enable-checks=crc32,sha256
--enable-threads=posix
--enable-assume-ram=128
--enable-symbol-versions
--enable-sandbox=capsicum
--enable-dependency-tracking
--enable-static
--with-pic=PIC
--with-aix-soname=aix
--with-libiconv-prefix
--with-libintl-prefix
--disable-option-checking
--disable-assembler
--disable-xzdec
--disable-lzmadec
--disable-lzmainfo
--disable-lzma-links
--disable-doc
--disable-libtool-lock
--disable-largefile
