--enable-encoders=lzma1,sparc
--enable-decoders=lzma1,powerpc
--enable-match-finders=bt3
--enable-checks=crc32,crc64,sha256
--enable-threads=posix
--enable-shared=no
--enable-symbol-versions
--enable-sandbox=no
--enable-dependency-tracking
--enable-fast-install
--enable-unaligned-access
--enable-unsafe-type-punning
--with-pic=PIC
--with-gnu-ld=yes
--with-libiconv-prefix
--with-libintl-prefix
--disable-assembler
--disable-xzdec
--disable-lzmadec
--disable-lzmainfo
--disable-scripts
--disable-doc
--disable-silent-rules
--disable-rpath
