--enable-encoders=lzma1,powerpc
--enable-decoders=lzma1,lzma2
--enable-match-finders=hc4,hc3,bt2
--enable-checks=crc32,sha256
--enable-threads=no
--enable-assume-ram=128
--enable-shared=no
--enable-symbol-versions
--enable-sandbox=no
--enable-unsafe-type-punning
--with-aix-soname=svr4
--with-gnu-ld=yes
--without-libiconv-prefix
--without-libintl-prefix
--disable-lzmainfo
--disable-scripts
--disable-dependency-tracking
--disable-largefile
