--enable-encoders=lzma1
--enable-decoders=lzma1,sparc
--enable-match-finders=bt2,bt3,bt4
--enable-small
--enable-symbol-versions
--enable-dependency-tracking
--enable-fast-install
--enable-unsafe-type-punning
--enable-static
--enable-fast-install=no
--with-aix-soname=svr4
--with-gnu-ld
--with-gnu-ld=yes
--with-libiconv-prefix
--without-libintl-prefix
--disable-lzmadec
--disable-doc
--disable-silent-rules
--disable-libtool-lock
