--enable-encoders=lzma1,lzma2,x86,armthumb,sparc,arm,ia64,powerpc,delta
--enable-decoders=lzma1,arm
--enable-match-finders=hc4,hc3,bt2
--enable-checks=crc32,sha256
--enable-small
--enable-threads=yes
--enable-assume-ram=128
--enable-shared=no
--enable-symbol-versions
--enable-sandbox=no
--enable-dependency-tracking
--enable-fast-install
--enable-unaligned-access
--enable-fast-install=no
--with-pic=non-PIC
--with-aix-soname=both
--with-gnu-ld
--with-gnu-ld=yes
--without-libiconv-prefix
--with-libintl-prefix
--disable-option-checking
--disable-xzdec
--disable-lzmainfo
--disable-lzma-links
--disable-doc
--disable-dependency-tracking
--disable-largefile
