--enable-encoders=lzma1,lzma2,x86,armthumb,sparc,arm,ia64,powerpc,delta
--enable-decoders=lzma1,ia64
--enable-match-finders=bt3,bt4
--enable-checks=crc32
--enable-threads=posix
--enable-assume-ram=128
--enable-silent-rules
--enable-static
--with-pic=PIC
--with-aix-soname=svr4
--with-gnu-ld
--without-libiconv-prefix
--with-libintl-prefix
--disable-assembler
--disable-xzdec
--disable-lzma-links
--disable-doc
--disable-silent-rules
--disable-nls
