--enable-encoders=lzma1,arm
--enable-decoders=lzma1,lzma2
--enable-match-finders=bt2,bt4
--enable-checks=crc32
--enable-threads=no
--enable-sandbox=no
--enable-dependency-tracking
--enable-unaligned-access
--enable-static
--with-pic=non-PIC
--with-aix-soname=svr4
--with-gnu-ld=yes
--without-libiconv-prefix
--disable-option-checking
--disable-lzma-links
--disable-scripts
--disable-silent-rules
--disable-dependency-tracking
--disable-largefile
