--enable-encoders=lzma1,lzma2,x86,armthumb,sparc,arm,ia64,powerpc,delta
--enable-decoders=lzma1
--enable-match-finders=hc4,hc3,bt3
--enable-checks=crc32,crc64
--enable-threads=yes
--enable-symbol-versions
--enable-sandbox=no
--enable-dependency-tracking
--enable-fast-install
--enable-unaligned-access
--enable-fast-install=no
--with-pic=PIC
--with-aix-soname=aix
--with-libiconv-prefix
--without-libintl-prefix
--disable-lzmadec
--disable-scripts
--disable-silent-rules
--disable-libtool-lock
--disable-rpath
