--enable-encoders=lzma1,lzma2,x86,armthumb,sparc,arm,ia64,powerpc,delta
--enable-decoders=lzma1,x86
--enable-match-finders=hc4,hc3,bt2,bt3,bt4
--enable-checks=crc32,crc64,sha256
--enable-threads=posix
--enable-shared=no
--enable-symbol-versions
--enable-sandbox=auto
--enable-unaligned-access
--enable-unsafe-type-punning
--enable-static
--with-pic=non-PIC
--with-aix-soname=aix
--without-libiconv-prefix
--disable-option-checking
--disable-assembler
--disable-lzma-links
--disable-scripts
--disable-doc
--disable-libtool-lock
--disable-nls
--disable-largefile
