--enable-encoders=lzma1,delta
--enable-decoders=lzma1,lzma2
--enable-match-finders=hc3,hc4
--enable-checks=crc32
--enable-small
--enable-symbol-versions
--enable-silent-rules
--enable-unaligned-access
--enable-unsafe-type-punning
--enable-static
--enable-fast-install=no
--with-pic=PIC
--without-libintl-prefix
--disable-option-checking
--disable-assembler
--disable-lzmainfo
--disable-lzma-links
--disable-scripts
--disable-dependency-tracking
--disable-libtool-lock
--disable-rpath
