--enable-encoders=lzma1,ia64
--enable-decoders=lzma1,armthumb
--enable-match-finders=hc4,hc3,bt3,bt4
--enable-checks=crc32,sha256
--enable-small
--enable-threads=posix
--enable-symbol-versions
--enable-sandbox=no
--enable-silent-rules
--enable-unsafe-type-punning
--enable-fast-install=no
--with-pic=non-PIC
--with-aix-soname=both
--with-gnu-ld=yes
--without-libiconv-prefix
--without-libintl-prefix
--disable-option-checking
--disable-assembler
--disable-lzmainfo
--disable-lzma-links
--disable-doc
--disable-silent-rules
--disable-dependency-tracking
--disable-libtool-lock
--disable-nls
--disable-rpath
