--enable-encoders=lzma1,sparc
--enable-decoders=lzma1
--enable-match-finders=bt2
--enable-checks=crc32,crc64,sha256
--enable-threads=posix
--enable-assume-ram=128
--enable-sandbox=auto
--enable-dependency-tracking
--enable-unaligned-access
--enable-static
--enable-fast-install=no
--with-pic=PIC
--with-aix-soname=both
--with-libiconv-prefix
--without-libintl-prefix
--disable-option-checking
--disable-lzmainfo
--disable-lzma-links
--disable-silent-rules
--disable-rpath
