--enable-encoders=lzma1,powerpc
--enable-decoders=lzma1,sparc
--enable-match-finders=hc3,bt2,bt3,bt4
--enable-checks=crc32,crc64,sha256
--enable-threads=yes
--enable-shared=no
--enable-dependency-tracking
--enable-unaligned-access
--enable-static
--enable-fast-install=no
--with-aix-soname=svr4
--with-gnu-ld
--with-gnu-ld=yes
--without-libiconv-prefix
--disable-option-checking
--disable-assembler
--disable-xzdec
--disable-lzmadec
--disable-scripts
--disable-doc
--disable-silent-rules
--disable-dependency-tracking
--disable-nls
