--enable-encoders=lzma1,delta
--enable-decoders=lzma1,delta
--enable-match-finders=hc4,bt3
--enable-checks=crc32,crc64,sha256
--enable-threads=no
--enable-assume-ram=128
--enable-symbol-versions
--enable-sandbox=capsicum
--enable-silent-rules
--enable-fast-install=no
--with-pic=PIC
--with-aix-soname=svr4
--without-libiconv-prefix
--without-libintl-prefix
--disable-option-checking
--disable-assembler
--disable-xzdec
--disable-scripts
--disable-libtool-lock
--disable-nls
--disable-largefile
