--enable-encoders=lzma1,armthumb
--enable-decoders=lzma1,sparc
--enable-match-finders=hc4,bt2,bt3
--enable-checks=crc32,sha256
--enable-threads=no
--enable-shared=no
--enable-symbol-versions
--enable-sandbox=capsicum
--enable-dependency-tracking
--enable-unaligned-access
--enable-unsafe-type-punning
--with-pic=non-PIC
--with-gnu-ld
--with-gnu-ld=yes
--with-libiconv-prefix
--disable-assembler
--disable-xzdec
--disable-lzmadec
--disable-lzmainfo
--disable-libtool-lock
--disable-rpath
