--enable-encoders=lzma1,ia64
--enable-decoders=lzma1,delta
--enable-match-finders=bt3,bt4
--enable-checks=crc32,crc64,sha256
--enable-small
--enable-threads=posix
--enable-shared=no
--enable-symbol-versions
--enable-sandbox=auto
--enable-dependency-tracking
--enable-fast-install
--enable-unaligned-access
--enable-static
--enable-fast-install=no
--with-pic=PIC
--with-aix-soname=svr4
--disable-assembler
--disable-xzdec
--disable-lzmadec
--disable-lzmainfo
--disable-lzma-links
--disable-scripts
--disable-silent-rules
--disable-largefile
