--enable-encoders=lzma1,lzma2,x86,armthumb,sparc,arm,ia64,powerpc,delta
--enable-decoders=lzma1,armthumb
--enable-match-finders=hc4,bt3,bt4
--enable-small
--enable-threads=posix
--enable-shared=no
--enable-sandbox=no
--enable-silent-rules
--enable-dependency-tracking
--enable-unaligned-access
--enable-static
--with-aix-soname=aix
--with-gnu-ld
--with-libiconv-prefix
--with-libintl-prefix
--disable-assembler
--disable-lzma-links
--disable-doc
--disable-rpath
