--enable-encoders=lzma1,sparc
--enable-decoders=lzma1,x86
--enable-match-finders=hc4,hc3,bt3
--enable-checks=crc32,crc64
--enable-small
--enable-assume-ram=128
--enable-shared=no
--enable-symbol-versions
--enable-sandbox=auto
--enable-fast-install
--enable-unaligned-access
--enable-static
--enable-fast-install=no
--with-aix-soname=svr4
--with-libiconv-prefix
--without-libintl-prefix
--disable-lzmadec
--disable-lzma-links
--disable-dependency-tracking
--disable-libtool-lock
--disable-largefile
