--enable-encoders=lzma1,sparc
--enable-decoders=lzma1,delta
--enable-match-finders=hc4,hc3,bt4
--enable-checks=crc32,crc64
--enable-threads=yes
--enable-assume-ram=128
--enable-shared=no
--enable-dependency-tracking
--enable-fast-install
--enable-unaligned-access
--enable-static
--with-pic=non-PIC
--with-aix-soname=svr4
--with-gnu-ld
--disable-option-checking
--disable-xzdec
--disable-lzmainfo
--disable-lzma-links
--disable-scripts
--disable-dependency-tracking
--disable-rpath
--disable-largefile
