--enable-encoders=lzma1,delta
--enable-decoders=lzma1,armthumb
--enable-match-finders=hc3,bt2
--enable-checks=crc32,crc64,sha256
--enable-threads=no
--enable-assume-ram=128
--enable-shared=no
--enable-symbol-versions
--enable-sandbox=capsicum
--enable-dependency-tracking
--enable-fast-install
--enable-unaligned-access
--enable-unsafe-type-punning
--enable-static
--with-pic=PIC
--without-libiconv-prefix
--with-libintl-prefix
--disable-option-checking
--disable-lzma-links
--disable-doc
--disable-silent-rules
--disable-dependency-tracking
--disable-libtool-lock
--disable-rpath
