--enable-encoders=lzma1,sparc
--enable-decoders=lzma1,armthumb
--enable-match-finders=hc4,bt3,bt4
--enable-checks=crc32,crc64,sha256
--enable-threads=yes
--enable-assume-ram=128
--enable-symbol-versions
--enable-sandbox=no
--enable-silent-rules
--enable-unaligned-access
--enable-static
--enable-fast-install=no
--with-pic=non-PIC
--with-aix-soname=svr4
--with-gnu-ld
--with-libiconv-prefix
--disable-option-checking
--disable-assembler
--disable-lzmadec
--disable-silent-rules
--disable-dependency-tracking
--disable-largefile
