--enable-encoders=lzma1,armthumb
--enable-decoders=lzma1
--enable-match-finders=bt3
--enable-checks=crc32,sha256
--enable-small
--enable-threads=yes
--enable-sandbox=auto
--enable-silent-rules
--enable-dependency-tracking
--enable-fast-install
--enable-static
--enable-fast-install=no
--with-aix-soname=svr4
--with-gnu-ld
--with-libiconv-prefix
--with-libintl-prefix
--disable-lzma-links
--disable-doc
--disable-largefile
