--enable-encoders=lzma1,powerpc
--enable-decoders=lzma1,lzma2,delta,x86,sparc,ia64,armthumb,arm,powerpc
--enable-match-finders=hc3,bt2
--enable-checks=crc32,crc64
--enable-threads=posix
--enable-sandbox=capsicum
--enable-dependency-tracking
--enable-static
--enable-fast-install=no
--with-pic=non-PIC
--with-aix-soname=svr4
--with-gnu-ld
--with-gnu-ld=yes
--with-libiconv-prefix
--with-libintl-prefix
--disable-xzdec
--disable-lzmainfo
--disable-scripts
--disable-dependency-tracking
--disable-libtool-lock
--disable-nls
--disable-rpath
--disable-largefile
