--enable-encoders=lzma1,sparc
--enable-decoders=lzma1,sparc
--enable-match-finders=bt3
--enable-checks=crc32,crc64,sha256
--enable-small
--enable-threads=yes
--enable-assume-ram=128
--enable-symbol-versions
--enable-sandbox=capsicum
--with-pic=non-PIC
--with-aix-soname=both
--with-gnu-ld
--with-gnu-ld=yes
--with-libiconv-prefix
--disable-assembler
--disable-lzmadec
--disable-lzmainfo
--disable-rpath
--disable-largefile
