--enable-encoders=lzma1,ia64
--enable-decoders=lzma1,lzma2,delta,x86,sparc,ia64,armthumb,arm,powerpc
--enable-match-finders=bt4
--enable-checks=crc32,sha256
--enable-small
--enable-threads=posix
--enable-assume-ram=128
--enable-symbol-versions
--enable-sandbox=capsicum
--enable-silent-rules
--enable-dependency-tracking
--enable-fast-install
--enable-unsafe-type-punning
--enable-static
--enable-fast-install=no
--with-pic=non-PIC
--with-aix-soname=svr4
--without-libiconv-prefix
--disable-assembler
--disable-lzmadec
--disable-lzma-links
--disable-scripts
--disable-doc
--disable-libtool-lock
