--enable-encoders=lzma1,sparc
--enable-decoders=lzma1
--enable-match-finders=hc4,hc3,bt2,bt4
--enable-checks=crc32
--enable-threads=posix
--enable-assume-ram=128
--enable-symbol-versions
--enable-sandbox=auto
--enable-dependency-tracking
--enable-fast-install
--enable-unaligned-access
--enable-unsafe-type-punning
--enable-fast-install=no
--with-pic=non-PIC
--with-aix-soname=both
--with-gnu-ld
--disable-option-checking
--disable-assembler
--disable-lzmainfo
--disable-silent-rules
--disable-largefile
