--enable-encoders=lzma1,ia64
--enable-decoders=lzma1,arm
--enable-match-finders=bt4
--enable-checks=crc32,crc64,sha256
--enable-threads=no
--enable-assume-ram=128
--enable-dependency-tracking
--enable-unsafe-type-punning
--enable-static
--with-pic=PIC
--with-aix-soname=both
--with-gnu-ld
--with-gnu-ld=yes
--with-libiconv-prefix
--with-libintl-prefix
--disable-scripts
--disable-doc
--disable-silent-rules
--disable-rpath
--disable-largefile
