--enable-encoders=lzma1,armthumb
--enable-decoders=lzma1,powerpc
--enable-match-finders=hc4,hc3,bt3,bt4
--enable-checks=crc32
--enable-threads=no
--enable-sandbox=no
--enable-dependency-tracking
--enable-fast-install
--enable-unaligned-access
--enable-fast-install=no
--with-aix-soname=both
--with-gnu-ld
--without-libiconv-prefix
--disable-option-checking
--disable-lzmainfo
--disable-lzma-links
--disable-scripts
--disable-libtool-lock
--disable-nls
--disable-largefile
