--enable-encoders=lzma1,delta
--enable-decoders=lzma1,sparc
--enable-match-finders=hc4,hc3,bt2,bt3,bt4
--enable-checks=crc32,sha256
--enable-threads=no
--enable-assume-ram=128
--enable-shared=no
--enable-sandbox=capsicum
--enable-dependency-tracking
--enable-fast-install
--enable-unsafe-type-punning
--with-pic=non-PIC
--with-aix-soname=both
--with-gnu-ld
--with-gnu-ld=yes
--with-libiconv-prefix
--with-libintl-prefix
--disable-xzdec
--disable-lzmainfo
--disable-lzma-links
--disable-scripts
--disable-doc
--disable-dependency-tracking
--disable-nls
