--enable-encoders=lzma1
--enable-decoders=lzma1,powerpc
--enable-match-finders=hc4,bt4
--enable-checks=crc32,crc64,sha256
--enable-threads=no
--enable-assume-ram=128
--enable-shared=no
--enable-symbol-versions
--enable-sandbox=capsicum
--enable-dependency-tracking
--enable-unaligned-access
--enable-unsafe-type-punning
--enable-fast-install=no
--with-aix-soname=both
--with-gnu-ld
--with-gnu-ld=yes
--with-libiconv-prefix
--disable-lzmainfo
--disable-lzma-links
--disable-silent-rules
--disable-rpath
