--enable-encoders=lzma1,lzma2,x86,armthumb,sparc,arm,ia64,powerpc,delta
--enable-decoders=lzma1,armthumb
--enable-match-finders=bt3,bt4
--enable-checks=crc32,crc64,sha256
--enable-threads=yes
--enable-assume-ram=128
--enable-silent-rules
--enable-unsafe-type-punning
--enable-static
--enable-fast-install=no
--with-pic=PIC
--with-gnu-ld=yes
--without-libiconv-prefix
--disable-lzmainfo
--disable-lzma-links
--disable-doc
--disable-dependency-tracking
--disable-nls
--disable-largefile
