--enable-encoders=lzma1,arm
--enable-decoders=lzma1,x86
--enable-match-finders=hc4,bt2,bt3
--enable-checks=crc32,sha256
--enable-threads=no
--enable-assume-ram=128
--enable-sandbox=auto
--with-pic=PIC
--with-aix-soname=svr4
--with-libiconv-prefix
--with-libintl-prefix
--disable-option-checking
--disable-assembler
--disable-xzdec
--disable-lzmadec
--disable-lzma-links
--disable-doc
--disable-silent-rules
--disable-libtool-lock
