--enable-encoders=lzma1,arm
--enable-decoders=lzma1,delta
--enable-match-finders=bt2,bt4
--enable-checks=crc32,crc64,sha256
--enable-threads=posix
--enable-assume-ram=128
--enable-shared=no
--enable-symbol-versions
--enable-sandbox=capsicum
--enable-silent-rules
--enable-fast-install=no
--with-aix-soname=aix
--with-gnu-ld
--with-gnu-ld=yes
--without-libiconv-prefix
--disable-assembler
--disable-xzdec
--disable-lzma-links
--disable-doc
--disable-silent-rules
--disable-dependency-tracking
--disable-largefile
