--enable-encoders=lzma1,delta
--enable-decoders=lzma1
--enable-match-finders=hc3
--enable-checks=crc32,sha256
--enable-threads=yes
--enable-shared=no
--enable-unaligned-access
--enable-unsafe-type-punning
--with-aix-soname=both
--without-libiconv-prefix
--disable-assembler
--disable-scripts
--disable-doc
--disable-dependency-tracking
--disable-libtool-lock
