--enable-encoders=lzma1,arm
--enable-decoders=lzma1,x86
--enable-match-finders=hc4
--enable-checks=crc32,crc64
--enable-threads=no
--enable-shared=no
--enable-sandbox=auto
--enable-dependency-tracking
--enable-unsafe-type-punning
--enable-static
--with-pic=PIC
--with-aix-soname=both
--with-libintl-prefix
--disable-option-checking
--disable-assembler
--disable-lzma-links
--disable-scripts
--disable-doc
--disable-rpath
--disable-largefile
