--enable-encoders=lzma1,delta
--enable-decoders=lzma1,delta
--enable-match-finders=hc4,hc3,bt2
--enable-small
--enable-threads=posix
--enable-sandbox=auto
--enable-silent-rules
--enable-dependency-tracking
--enable-fast-install
--enable-unaligned-access
--enable-unsafe-type-punning
--with-aix-soname=svr4
--with-gnu-ld
--with-libintl-prefix
--disable-option-checking
--disable-lzmadec
--disable-lzmainfo
--disable-lzma-links
--disable-scripts
--disable-silent-rules
--disable-libtool-lock
--disable-rpath
--disable-largefile
