--enable-encoders=lzma1,lzma2,x86,armthumb,sparc,arm,ia64,powerpc,delta
--enable-decoders=lzma1,delta
--enable-match-finders=hc4,bt2,bt4
--enable-checks=crc32,crc64
--enable-small
--enable-threads=yes
--enable-shared=no
--enable-sandbox=no
--enable-fast-install
--enable-unaligned-access
--enable-unsafe-type-punning
--without-libintl-prefix
--disable-assembler
--disable-lzmadec
--disable-lzmainfo
--disable-scripts
--disable-doc
--disable-libtool-lock
--disable-nls
--disable-largefile
