--enable-encoders=lzma1,ia64
--enable-decoders=lzma1,sparc
--enable-match-finders=hc4,bt2,bt3,bt4
--enable-checks=crc32,crc64
--enable-small
--enable-threads=yes
--enable-assume-ram=128
--enable-symbol-versions
--enable-sandbox=capsicum
--enable-dependency-tracking
--enable-fast-install=no
--with-pic=non-PIC
--with-aix-soname=both
--without-libiconv-prefix
--without-libintl-prefix
--disable-assembler
--disable-lzmainfo
--disable-lzma-links
--disable-scripts
--disable-silent-rules
--disable-dependency-tracking
--disable-nls
--disable-rpath
