--enable-encoders=lzma1,delta
--enable-decoders=lzma1,powerpc
--enable-match-finders=bt3
--enable-checks=crc32,crc64,sha256
--enable-small
--enable-threads=posix
--enable-shared=no
--enable-sandbox=no
--with-aix-soname=aix
--with-gnu-ld=yes
--without-libiconv-prefix
--disable-assembler
--disable-xzdec
--disable-lzmadec
--disable-libtool-lock
--disable-rpath
--disable-largefile
