--enable-encoders=lzma1,powerpc
--enable-decoders=lzma1
--enable-match-finders=bt3,bt4
--enable-checks=crc32
--enable-threads=yes
--enable-shared=no
--enable-symbol-versions
--enable-dependency-tracking
--with-pic=PIC
--with-aix-soname=svr4
--with-gnu-ld
--with-libiconv-prefix
--without-libintl-prefix
--disable-option-checking
--disable-scripts
--disable-doc
--disable-silent-rules
--disable-dependency-tracking
--disable-libtool-lock
--disable-nls
--disable-rpath
