--enable-encoders=lzma1,armthumb
--enable-decoders=lzma1,ia64
--enable-match-finders=hc4,bt2,bt3,bt4
--enable-checks=crc32,crc64,sha256
--enable-threads=yes
--enable-assume-ram=128
--enable-shared=no
--enable-sandbox=capsicum
--enable-silent-rules
--enable-dependency-tracking
--enable-fast-install
--enable-unaligned-access
--enable-unsafe-type-punning
--enable-static
--with-pic=PIC
--with-aix-soname=svr4
--without-libiconv-prefix
--without-libintl-prefix
--disable-assembler
--disable-xzdec
--disable-lzmadec
--disable-lzmainfo
--disable-lzma-links
--disable-silent-rules
--disable-libtool-lock
--disable-rpath
--disable-largefile
