--enable-encoders=lzma1,ia64
--enable-decoders=lzma1,x86
--enable-match-finders=hc4,bt4
--enable-checks=crc32
--enable-threads=posix
--enable-symbol-versions
--enable-sandbox=capsicum
--enable-fast-install
--enable-static
--enable-fast-install=no
--with-aix-soname=aix
--without-libiconv-prefix
--without-libintl-prefix
--disable-xzdec
--disable-lzmadec
--disable-doc
--disable-silent-rules
--disable-dependency-tracking
--disable-libtool-lock
--disable-nls
--disable-rpath
--disable-largefile
