--enable-encoders=lzma1,powerpc
--enable-decoders=lzma1
--enable-match-finders=hc4,hc3,bt2,bt3
--enable-checks=crc32
--enable-assume-ram=128
--enable-shared=no
--enable-sandbox=no
--enable-silent-rules
--enable-fast-install
--enable-unaligned-access
--enable-unsafe-type-punning
--with-aix-soname=svr4
--with-gnu-ld
--with-gnu-ld=yes
--with-libiconv-prefix
--with-libintl-prefix
--disable-xzdec
--disable-lzmadec
--disable-lzmainfo
--disable-doc
--disable-silent-rules
--disable-dependency-tracking
--disable-libtool-lock
--disable-rpath
