--enable-encoders=lzma1,armthumb
--enable-decoders=lzma1
--enable-match-finders=hc4,hc3,bt2,bt3,bt4
--enable-checks=crc32,crc64,sha256
--enable-small
--enable-threads=yes
--enable-assume-ram=128
--enable-shared=no
--enable-symbol-versions
--enable-sandbox=capsicum
--enable-silent-rules
--enable-dependency-tracking
--enable-unaligned-access
--enable-unsafe-type-punning
--enable-static
--enable-fast-install=no
--with-aix-soname=svr4
--with-gnu-ld=yes
--without-libintl-prefix
--disable-lzmadec
--disable-scripts
--disable-nls
--disable-largefile
