--enable-encoders=lzma1,lzma2,x86,armthumb,sparc,arm,ia64,powerpc,delta
--enable-decoders=lzma1,ia64
--enable-match-finders=hc4,hc3,bt2,bt3,bt4
--enable-checks=crc32,crc64
--enable-small
--enable-threads=posix
--enable-shared=no
--enable-sandbox=no
--enable-dependency-tracking
--enable-unsafe-type-punning
--enable-static
--enable-fast-install=no
--with-pic=PIC
--with-aix-soname=svr4
--with-gnu-ld
--with-gnu-ld=yes
--without-libiconv-prefix
--with-libintl-prefix
--disable-assembler
--disable-doc
--disable-silent-rules
--disable-libtool-lock
--disable-nls
--disable-rpath
--disable-largefile
