--enable-encoders=lzma1,lzma2
--enable-decoders=lzma1,delta
--enable-match-finders=bt2,bt3,bt4
--enable-checks=crc32,sha256
--enable-threads=yes
--enable-assume-ram=128
--enable-symbol-versions
--enable-sandbox=capsicum
--enable-dependency-tracking
--enable-fast-install
--enable-unsafe-type-punning
--enable-static
--with-aix-soname=aix
--with-gnu-ld
--with-gnu-ld=yes
--with-libiconv-prefix
--without-libintl-prefix
--disable-scripts
--disable-silent-rules
--disable-dependency-tracking
--disable-rpath
--disable-largefile
