--enable-encoders=lzma1,delta
--enable-decoders=lzma1,lzma2,delta,x86,sparc,ia64,armthumb,arm,powerpc
--enable-match-finders=hc4,hc3,bt2,bt4
--enable-checks=crc32,sha256
--enable-threads=no
--enable-assume-ram=128
--enable-sandbox=capsicum
--enable-dependency-tracking
--enable-fast-install
--enable-fast-install=no
--with-pic=non-PIC
--with-aix-soname=both
--with-libiconv-prefix
--disable-assembler
--disable-lzmainfo
--disable-lzma-links
--disable-scripts
--disable-silent-rules
--disable-libtool-lock
--disable-rpath
--disable-largefile
