--enable-encoders=lzma1,ia64
--enable-decoders=lzma1,armthumb
--enable-match-finders=hc4,bt3,bt4
--enable-checks=crc32
--enable-small
--enable-threads=posix
--enable-assume-ram=128
--enable-shared=no
--enable-sandbox=no
--enable-silent-rules
--enable-fast-install
--enable-unsafe-type-punning
--with-pic=non-PIC
--with-aix-soname=aix
--with-gnu-ld
--with-libiconv-prefix
--disable-lzmadec
--disable-lzmainfo
--disable-lzma-links
--disable-dependency-tracking
