--enable-encoders=lzma1,sparc
--enable-decoders=lzma1,powerpc
--enable-match-finders=hc3,bt3,bt4
--enable-checks=crc32,sha256
--enable-small
--enable-threads=yes
--enable-assume-ram=128
--enable-symbol-versions
--enable-sandbox=no
--enable-silent-rules
--enable-fast-install
--with-aix-soname=aix
--with-gnu-ld=yes
--without-libiconv-prefix
--disable-option-checking
--disable-assembler
--disable-lzmainfo
--disable-scripts
--disable-doc
--disable-silent-rules
--disable-libtool-lock
--disable-nls
--disable-largefile
