--enable-encoders=lzma1
--enable-decoders=lzma1,x86
--enable-match-finders=bt2,bt4
--enable-checks=crc32,crc64,sha256
--enable-threads=yes
--enable-shared=no
--enable-symbol-versions
--enable-sandbox=no
--enable-fast-install=no
--with-pic=non-PIC
--with-aix-soname=both
--with-gnu-ld=yes
--with-libiconv-prefix
--with-libintl-prefix
--disable-assembler
--disable-xzdec
--disable-lzmadec
--disable-lzmainfo
--disable-scripts
--disable-libtool-lock
--disable-nls
--disable-rpath
--disable-largefile
