--enable-encoders=lzma1,ia64
--enable-decoders=lzma1,sparc
--enable-match-finders=hc3
--enable-checks=crc32,crc64,sha256
--enable-threads=no
--enable-shared=no
--enable-symbol-versions
--enable-sandbox=auto
--enable-dependency-tracking
--enable-fast-install
--with-pic=PIC
--with-aix-soname=aix
--with-gnu-ld
--with-libintl-prefix
--disable-option-checking
--disable-assembler
--disable-silent-rules
--disable-dependency-tracking
--disable-nls
--disable-largefile
