--enable-encoders=lzma1
--enable-decoders=lzma1,lzma2
--enable-match-finders=hc4,bt3,bt4
--enable-checks=crc32
--enable-small
--enable-threads=posix
--enable-assume-ram=128
--enable-shared=no
--enable-sandbox=no
--enable-dependency-tracking
--enable-unsafe-type-punning
--enable-fast-install=no
--with-pic=PIC
--with-aix-soname=aix
--with-gnu-ld
--with-gnu-ld=yes
--with-libintl-prefix
--disable-option-checking
--disable-lzmainfo
--disable-silent-rules
--disable-largefile
