--enable-encoders=lzma1,armthumb
--enable-decoders=lzma1,lzma2
--enable-match-finders=bt2,bt3
--enable-checks=crc32,sha256
--enable-threads=no
--enable-assume-ram=128
--enable-sandbox=auto
--enable-silent-rules
--enable-dependency-tracking
--enable-fast-install
--enable-unsafe-type-punning
--enable-static
--with-pic=non-PIC
--with-aix-soname=svr4
--with-gnu-ld
--with-gnu-ld=yes
--without-libintl-prefix
--disable-option-checking
--disable-assembler
--disable-lzmadec
--disable-doc
--disable-dependency-tracking
--disable-nls
