--enable-encoders=lzma1,powerpc
--enable-decoders=lzma1
--enable-match-finders=hc4,bt2,bt3
--enable-checks=crc32
--enable-small
--enable-threads=yes
--enable-silent-rules
--enable-fast-install
--enable-unsafe-type-punning
--enable-static
--with-aix-soname=both
--without-libiconv-prefix
--disable-assembler
--disable-xzdec
--disable-lzmainfo
--disable-scripts
--disable-doc
--disable-silent-rules
--disable-libtool-lock
--disable-rpath
