--enable-encoders=lzma1,sparc
--enable-decoders=lzma1,powerpc
--enable-match-finders=hc3,bt2,bt3
--enable-small
--enable-threads=posix
--enable-assume-ram=128
--enable-sandbox=auto
--enable-fast-install
--enable-unaligned-access
--enable-unsafe-type-punning
--with-aix-soname=svr4
--with-gnu-ld
--without-libiconv-prefix
--with-libintl-prefix
--disable-option-checking
--disable-lzmainfo
--disable-lzma-links
--disable-scripts
--disable-libtool-lock
--disable-nls
--disable-rpath
