--enable-encoders=lzma1,delta
--enable-decoders=lzma1,sparc
--enable-match-finders=hc4,bt2,bt3,bt4
--enable-checks=crc32,crc64,sha256
--enable-threads=yes
--enable-shared=no
--enable-symbol-versions
--enable-fast-install
--with-pic=PIC
--with-gnu-ld
--with-gnu-ld=yes
--without-libiconv-prefix
--disable-assembler
--disable-lzma-links
--disable-scripts
--disable-doc
--disable-silent-rules
--disable-largefile
