--enable-encoders=lzma1,lzma2
--enable-decoders=lzma1,x86
--enable-match-finders=bt4
--enable-checks=crc32,crc64,sha256
--enable-threads=yes
--enable-sandbox=capsicum
--enable-fast-install
--enable-unaligned-access
--enable-unsafe-type-punning
--with-pic=PIC
--with-aix-soname=svr4
--with-gnu-ld
--with-gnu-ld=yes
--without-libiconv-prefix
--with-libintl-prefix
--disable-assembler
--disable-xzdec
--disable-lzmadec
--disable-scripts
--disable-largefile
