--enable-encoders=lzma1
--enable-decoders=lzma1,armthumb
--enable-match-finders=hc4,hc3,bt3,bt4
--enable-checks=crc32,crc64,sha256
--enable-small
--enable-threads=posix
--enable-shared=no
--enable-sandbox=capsicum
--enable-silent-rules
--enable-unaligned-access
--enable-static
--enable-fast-install=no
--with-pic=PIC
--with-aix-soname=aix
--with-gnu-ld
--without-libiconv-prefix
--disable-lzmadec
--disable-lzmainfo
--disable-lzma-links
--disable-silent-rules
--disable-libtool-lock
--disable-nls
--disable-rpath
