--enable-encoders=lzma1
--enable-decoders=lzma1,delta
--enable-match-finders=hc4,hc3,bt3,bt4
--enable-checks=crc32,sha256
--enable-small
--enable-assume-ram=128
--enable-shared=no
--enable-symbol-versions
--enable-fast-install
--enable-unaligned-access
--without-libiconv-prefix
--disable-lzmadec
--disable-lzmainfo
--disable-rpath
