--enable-encoders=lzma1,sparc
--enable-decoders=lzma1,lzma2,delta,x86,sparc,ia64,armthumb,arm,powerpc
--enable-match-finders=bt3
--enable-checks=crc32,sha256
--enable-threads=yes
--enable-assume-ram=128
--enable-shared=no
--enable-sandbox=auto
--enable-silent-rules
--enable-dependency-tracking
--enable-fast-install
--enable-static
--enable-fast-install=no
--with-pic=non-PIC
--with-gnu-ld=yes
--without-libiconv-prefix
--with-libintl-prefix
--disable-assembler
--disable-lzmadec
--disable-lzmainfo
--disable-lzma-links
--disable-silent-rules
