--enable-encoders=lzma1,armthumb
--enable-decoders=lzma1,lzma2,delta,x86,sparc,ia64,armthumb,arm,powerpc
--enable-match-finders=hc4,bt4
--enable-checks=crc32,crc64
--enable-threads=no
--enable-sandbox=auto
--enable-silent-rules
--enable-unaligned-access
--enable-unsafe-type-punning
--enable-static
--enable-fast-install=no
--with-pic=PIC
--with-aix-soname=aix
--with-gnu-ld
--with-gnu-ld=yes
--with-libiconv-prefix
--disable-assembler
--disable-lzmainfo
--disable-dependency-tracking
--disable-libtool-lock
--disable-nls
--disable-rpath
--disable-largefile
