--enable-encoders=lzma1,arm
--enable-decoders=lzma1
--enable-match-finders=hc3,bt2,bt3
--enable-checks=crc32,crc64
--enable-threads=no
--enable-assume-ram=128
--enable-shared=no
--enable-symbol-versions
--enable-sandbox=auto
--enable-unsafe-type-punning
--with-libiconv-prefix
--disable-option-checking
--disable-assembler
--disable-xzdec
--disable-lzmadec
--disable-lzmainfo
--disable-scripts
--disable-doc
--disable-dependency-tracking
--disable-libtool-lock
--disable-rpath
--disable-largefile
