--enable-encoders=lzma1,lzma2,x86,armthumb,sparc,arm,ia64,powerpc,delta
--enable-decoders=lzma1,lzma2
--enable-match-finders=bt2,bt3
--enable-checks=crc32
--enable-small
--enable-threads=yes
--enable-assume-ram=128
--enable-sandbox=no
--enable-dependency-tracking
--enable-unaligned-access
--enable-fast-install=no
--with-pic=non-PIC
--with-aix-soname=aix
--with-gnu-ld
--without-libintl-prefix
--disable-xzdec
--disable-scripts
--disable-doc
--disable-silent-rules
--disable-dependency-tracking
--disable-largefile
