--enable-encoders=lzma1,lzma2
--enable-decoders=lzma1,delta
--enable-match-finders=hc3,hc4
--enable-checks=crc32,crc64,sha256
--enable-shared=no
--enable-symbol-versions
--enable-sandbox=capsicum
--enable-dependency-tracking
--enable-fast-install
--enable-fast-install=no
--with-pic=PIC
--with-aix-soname=aix
--with-gnu-ld
--with-gnu-ld=yes
--without-libintl-prefix
--disable-assembler
--disable-xzdec
--disable-scripts
--disable-nls
--disable-largefile
