--enable-encoders=lzma1,armthumb
--enable-decoders=lzma1,lzma2
--enable-match-finders=hc4,hc3,bt3,bt4
--enable-checks=crc32
--enable-small
--enable-sandbox=no
--enable-silent-rules
--enable-dependency-tracking
--enable-unsafe-type-punning
--enable-fast-install=no
--with-aix-soname=both
--with-gnu-ld=yes
--with-libiconv-prefix
--disable-xzdec
--disable-scripts
--disable-dependency-tracking
--disable-libtool-lock
--disable-nls
--disable-rpath
