--enable-encoders=lzma1,x86
--enable-decoders=lzma1,lzma2,delta,x86,sparc,ia64,armthumb,arm,powerpc
--enable-match-finders=hc4,hc3,bt4
--enable-checks=crc32,crc64
--enable-threads=yes
--enable-sandbox=no
--enable-fast-install
--enable-unaligned-access
--enable-static
--enable-fast-install=no
--with-aix-soname=aix
--with-gnu-ld
--with-gnu-ld=yes
--with-libiconv-prefix
--with-libintl-prefix
--disable-lzmadec
--disable-doc
--disable-dependency-tracking
--disable-libtool-lock
--disable-nls
--disable-rpath
