--enable-encoders=lzma1
--enable-decoders=lzma1,powerpc
--enable-match-finders=hc4,bt4
--enable-checks=crc32,crc64,sha256
--enable-small
--enable-shared=no
--enable-sandbox=auto
--enable-silent-rules
--enable-static
--with-aix-soname=aix
--with-gnu-ld
--with-libiconv-prefix
--disable-lzmainfo
--disable-lzma-links
--disable-doc
--disable-libtool-lock
--disable-nls
--disable-largefile
