--enable-encoders=lzma1
--enable-decoders=lzma1,lzma2,delta,x86,sparc,ia64,armthumb,arm,powerpc
--enable-match-finders=bt2
--enable-checks=crc32,crc64
--enable-threads=posix
--enable-symbol-versions
--enable-sandbox=auto
--enable-dependency-tracking
--enable-fast-install
--enable-unsafe-type-punning
--with-pic=non-PIC
--with-aix-soname=svr4
--with-gnu-ld
--with-gnu-ld=yes
--with-libintl-prefix
--disable-option-checking
--disable-assembler
--disable-lzmainfo
--disable-silent-rules
--disable-dependency-tracking
--disable-libtool-lock
--disable-nls
