--enable-encoders=lzma1,armthumb
--enable-decoders=lzma1,powerpc
--enable-match-finders=bt4
--enable-checks=crc32,sha256
--enable-threads=posix
--enable-assume-ram=128
--enable-symbol-versions
--enable-sandbox=capsicum
--enable-fast-install
--enable-static
--enable-fast-install=no
--with-pic=non-PIC
--with-aix-soname=aix
--with-gnu-ld=yes
--without-libiconv-prefix
--disable-option-checking
--disable-scripts
--disable-dependency-tracking
--disable-nls
--disable-rpath
