--enable-encoders=lzma1,sparc
--enable-decoders=lzma1,powerpc
--enable-match-finders=bt2
--enable-checks=crc32,sha256
--enable-threads=no
--enable-symbol-versions
--enable-sandbox=auto
--enable-fast-install
--enable-static
--with-pic=PIC
--with-aix-soname=both
--with-gnu-ld
--with-libiconv-prefix
--without-libintl-prefix
--disable-assembler
--disable-xzdec
--disable-lzmadec
--disable-lzma-links
--disable-silent-rules
--disable-dependency-tracking
--disable-libtool-lock
--disable-largefile
