--enable-encoders=lzma1,lzma2
--enable-decoders=lzma1
--enable-match-finders=bt2,bt3,bt4
--enable-checks=crc32,crc64,sha256
--enable-threads=no
--enable-assume-ram=128
--enable-symbol-versions
--enable-sandbox=no
--enable-fast-install
--enable-unsafe-type-punning
--enable-static
--with-aix-soname=aix
--without-libintl-prefix
--disable-xzdec
--disable-lzmadec
--disable-lzmainfo
--disable-lzma-links
--disable-scripts
--disable-rpath
