--enable-encoders=lzma1,lzma2,x86,armthumb,sparc,arm,ia64,powerpc,delta
--enable-decoders=lzma1,ia64
--enable-match-finders=hc3,bt2,bt3,bt4
--enable-checks=crc32
--enable-threads=yes
--enable-assume-ram=128
--enable-shared=no
--enable-symbol-versions
--enable-sandbox=auto
--enable-silent-rules
--enable-unaligned-access
--enable-unsafe-type-punning
--with-aix-soname=both
--with-gnu-ld
--with-libiconv-prefix
--without-libintl-prefix
--disable-assembler
--disable-lzmadec
--disable-lzmainfo
--disable-lzma-links
--disable-silent-rules
--disable-dependency-tracking
--disable-libtool-lock
--disable-nls
