--enable-encoders=lzma1,lzma2,x86,armthumb,sparc,arm,ia64,powerpc,delta
--enable-decoders=lzma1,x86
--enable-match-finders=hc3,bt2,bt3
--enable-checks=crc32
--enable-threads=posix
--enable-symbol-versions
--enable-sandbox=no
--enable-silent-rules
--enable-dependency-tracking
--enable-unsafe-type-punning
--enable-fast-install=no
--with-pic=PIC
--with-aix-soname=svr4
--with-gnu-ld=yes
--with-libiconv-prefix
--without-libintl-prefix
--disable-option-checking
--disable-assembler
--disable-lzmainfo
--disable-lzma-links
--disable-silent-rules
--disable-libtool-lock
--disable-largefile
