--enable-encoders=lzma1,armthumb
--enable-decoders=lzma1,x86
--enable-match-finders=hc4
--enable-checks=crc32,sha256
--enable-threads=posix
--enable-shared=no
--enable-symbol-versions
--enable-sandbox=auto
--enable-dependency-tracking
--enable-static
--with-pic=non-PIC
--with-aix-soname=svr4
--with-libiconv-prefix
--with-libintl-prefix
--disable-lzmadec
--disable-silent-rules
--disable-dependency-tracking
