--enable-encoders=lzma1
--enable-decoders=lzma1,arm
--enable-match-finders=bt3
--enable-checks=crc32,sha256
--enable-threads=yes
--enable-assume-ram=128
--enable-symbol-versions
--enable-silent-rules
--enable-fast-install
--enable-unsafe-type-punning
--with-pic=PIC
--with-aix-soname=svr4
--without-libiconv-prefix
--without-libintl-prefix
--disable-assembler
--disable-lzmadec
--disable-lzmainfo
--disable-lzma-links
--disable-libtool-lock
--disable-largefile
