--enable-encoders=lzma1,powerpc
--enable-decoders=lzma1,ia64
--enable-match-finders=hc3,bt2
--enable-checks=crc32,sha256
--enable-small
--enable-threads=yes
--enable-shared=no
--enable-sandbox=no
--enable-fast-install
--enable-unaligned-access
--enable-unsafe-type-punning
--enable-static
--with-pic=PIC
--with-aix-soname=svr4
--with-gnu-ld=yes
--without-libintl-prefix
--disable-option-checking
--disable-lzmainfo
--disable-lzma-links
--disable-doc
--disable-dependency-tracking
--disable-nls
--disable-largefile
