--enable-encoders=lzma1,lzma2
--enable-decoders=lzma1,lzma2,delta,x86,sparc,ia64,armthumb,arm,powerpc
--enable-match-finders=hc3,bt2
--enable-checks=crc32,crc64
--enable-small
--enable-assume-ram=128
--enable-shared=no
--enable-symbol-versions
--enable-sandbox=no
--enable-unaligned-access
--enable-static
--with-aix-soname=both
--with-gnu-ld
--with-gnu-ld=yes
--without-libintl-prefix
--disable-option-checking
--disable-assembler
--disable-lzma-links
--disable-scripts
--disable-doc
--disable-silent-rules
--disable-libtool-lock
