--enable-encoders=lzma1,lzma2,x86,armthumb,sparc,arm,ia64,powerpc,delta
--enable-decoders=lzma1,powerpc
--enable-match-finders=hc4,hc3,bt2,bt4
--enable-checks=crc32
--enable-small
--enable-threads=posix
--enable-shared=no
--enable-sandbox=no
--enable-dependency-tracking
--enable-fast-install
--enable-unaligned-access
--enable-static
--with-pic=PIC
--with-aix-soname=aix
--with-gnu-ld
--with-gnu-ld=yes
--with-libiconv-prefix
--with-libintl-prefix
--disable-option-checking
--disable-assembler
--disable-xzdec
--disable-lzmainfo
--disable-scripts
--disable-silent-rules
--disable-dependency-tracking
--disable-nls
--disable-rpath
--disable-largefile
