--enable-encoders=lzma1,sparc
--enable-decoders=lzma1,arm
--enable-match-finders=hc3
--enable-checks=crc32,crc64,sha256
--enable-small
--enable-threads=posix
--enable-sandbox=capsicum
--enable-silent-rules
--enable-dependency-tracking
--enable-static
--enable-fast-install=no
--with-aix-soname=svr4
--with-gnu-ld
--without-libiconv-prefix
--with-libintl-prefix
--disable-option-checking
--disable-xzdec
--disable-lzmadec
--disable-lzma-links
--disable-doc
--disable-libtool-lock
