--enable-encoders=lzma1,x86
--enable-decoders=lzma1,armthumb
--enable-match-finders=hc4,bt2,bt4
--enable-checks=crc32,crc64,sha256
--enable-small
--enable-threads=posix
--enable-shared=no
--enable-symbol-versions
--enable-unsafe-type-punning
--enable-static
--enable-fast-install=no
--with-pic=non-PIC
--with-aix-soname=aix
--with-gnu-ld=yes
--without-libiconv-prefix
--without-libintl-prefix
--disable-assembler
--disable-xzdec
--disable-lzmadec
--disable-silent-rules
--disable-largefile
