--enable-encoders=lzma1,lzma2,x86,armthumb,sparc,arm,ia64,powerpc,delta
--enable-decoders=lzma1,lzma2
--enable-match-finders=bt2,bt4
--enable-small
--enable-threads=posix
--enable-assume-ram=128
--enable-shared=no
--enable-symbol-versions
--enable-sandbox=auto
--enable-silent-rules
--enable-fast-install=no
--with-pic=PIC
--with-aix-soname=svr4
--with-libiconv-prefix
--with-libintl-prefix
--disable-xzdec
--disable-lzmadec
--disable-lzmainfo
--disable-lzma-links
--disable-silent-rules
--disable-dependency-tracking
--disable-nls
--disable-largefile
