--enable-encoders=lzma1
--enable-decoders=lzma1,arm
--enable-match-finders=hc4,hc3,bt2,bt3
--enable-checks=crc32,crc64
--enable-threads=no
--enable-assume-ram=128
--enable-symbol-versions
--enable-sandbox=capsicum
--enable-silent-rules
--enable-dependency-tracking
--enable-unaligned-access
--enable-static
--enable-fast-install=no
--with-pic=non-PIC
--with-aix-soname=aix
--with-gnu-ld
--with-gnu-ld=yes
--with-libiconv-prefix
--with-libintl-prefix
--disable-xzdec
--disable-lzmadec
--disable-lzmainfo
--disable-scripts
--disable-silent-rules
--disable-dependency-tracking
--disable-rpath
