--enable-encoders=lzma1,powerpc
--enable-decoders=lzma1,delta
--enable-match-finders=hc4,hc3,bt3
--enable-small
--enable-threads=yes
--enable-symbol-versions
--enable-sandbox=auto
--enable-fast-install
--enable-unaligned-access
--enable-static
--enable-fast-install=no
--with-pic=non-PIC
--with-aix-soname=svr4
--with-gnu-ld
--with-gnu-ld=yes
--with-libiconv-prefix
--with-libintl-prefix
--disable-lzmainfo
--disable-scripts
--disable-largefile
