--enable-encoders=lzma1,x86
--enable-decoders=lzma1,lzma2
--enable-match-finders=bt2,bt3,bt4
--enable-checks=crc32,crc64,sha256
--enable-small
--enable-threads=yes
--enable-shared=no
--enable-silent-rules
--enable-static
--with-pic=non-PIC
--with-aix-soname=svr4
--without-libiconv-prefix
--with-libintl-prefix
--disable-option-checking
--disable-xzdec
--disable-lzmadec
--disable-lzma-links
--disable-scripts
--disable-doc
--disable-dependency-tracking
--disable-nls
