--enable-encoders=lzma1,lzma2
--enable-decoders=lzma1,armthumb
--enable-match-finders=hc3,hc4
--enable-checks=crc32,crc64,sha256
--enable-small
--enable-shared=no
--enable-sandbox=auto
--enable-silent-rules
--enable-fast-install
--enable-unaligned-access
--enable-fast-install=no
--with-aix-soname=svr4
--with-gnu-ld
--with-libiconv-prefix
--with-libintl-prefix
--disable-option-checking
--disable-assembler
--disable-xzdec
--disable-lzmadec
--disable-lzma-links
--disable-silent-rules
--disable-rpath
