--enable-encoders=lzma1,sparc
--enable-decoders=lzma1,ia64
--enable-match-finders=hc4,hc3,bt2,bt4
--enable-checks=crc32,crc64,sha256
--enable-small
--enable-threads=yes
--enable-symbol-versions
--enable-sandbox=auto
--enable-dependency-tracking
--enable-unaligned-access
--enable-fast-install=no
--with-aix-soname=aix
--without-libiconv-prefix
--without-libintl-prefix
--disable-option-checking
--disable-xzdec
--disable-lzmainfo
--disable-scripts
--disable-doc
--disable-nls
--disable-largefile
