--enable-encoders=lzma1,lzma2
--enable-decoders=lzma1,arm
--enable-match-finders=bt2,bt4
--enable-checks=crc32,crc64,sha256
--enable-assume-ram=128
--enable-sandbox=auto
--enable-silent-rules
--enable-dependency-tracking
--enable-fast-install
--enable-fast-install=no
--with-pic=PIC
--with-aix-soname=aix
--with-gnu-ld=yes
--with-libiconv-prefix
--without-libintl-prefix
--disable-option-checking
--disable-xzdec
--disable-lzma-links
--disable-silent-rules
--disable-libtool-lock
--disable-nls
--disable-rpath
--disable-largefile
